<mat-card>
  <mat-checkbox [(ngModel)]="showOnlyUnreviewed">Show unreviewed only</mat-checkbox>
</mat-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials list">
  <mat-list>
    <div *ngFor="let testimonial of testimonials" class="testimonial-row" [hidden]="showOnlyUnreviewed && testimonial.reviewed">
      <mat-list-item>
        <img
        *ngIf="testimonial.user"
        [routerLink]="testimonial.user.username ? ['/profile', testimonial.user.username] : ['/profile/id', testimonial.user._id]" mat-list-avatar avatar [hash]="testimonial.user.gravatarHash" [size]="40">
        <h3 mat-line>
          <b *ngIf="testimonial.user">{{ testimonial.user.name }}</b>
          <b *ngIf="!testimonial.user">Deleted User</b>
          <span class="fill"></span>
          <span class="testimonial-date">{{ testimonial.createdAt | date }}</span>
        </h3>
        <p mat-line>
          <span class="testimonial-text" [innerHTML]="testimonial.text|emoji|linky:{twitter:false}"></span>
        </p>
      </mat-list-item>
      <div class="control-panel">
        <mat-checkbox
          [(ngModel)]="testimonial.reviewed"
          (change)="toggleReviewed(testimonial)">
          Reviewed
        </mat-checkbox>
        <button
          mat-raised-button
          title="Delete testimonial"
          mat-icon-button
          color="warn"
          (click)="delete($event, testimonial)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-divider class="testimonial-divider"></mat-divider>
    </div>
  </mat-list>
</div>
