<md-card>
  <md-card-title>Reset Password</md-card-title>

  <div *ngIf="!success">
    <form (submit)="sendMail($event)" *ngIf="!userId || !token">
      <p>Please enter username or email address of your account.</p>
      <p>
        <md-input-container>
          <input
            mdInput
            [(ngModel)]="email"
            placeholder="Email"
            type="email"
            name="email"
            required
          >
          <span md-prefix>
            <md-icon>email</md-icon>&nbsp;
          </span>
        </md-input-container>
      </p>

      <p *ngIf="message">{{ message }}</p>
      <p *ngIf="error" class="error">{{ error }}</p>

      <p>
        <button
          md-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || !email"
        >
          <md-spinner
            *ngIf="loading"
            class="in-button-spinner">
          </md-spinner>
          Reset Password
        </button>
      </p>
    </form>

    <form (submit)="resetPassword($event)" *ngIf="userId && token">
      <p>Please choose a new password.</p>
      <p>
        <md-input-container>
          <input
            mdInput
            [(ngModel)]="password"
            placeholder="Password (min 8)"
            type="password"
            minlength="8"
            name="password"
            required>
          <span md-prefix>
            <md-icon>lock</md-icon>&nbsp;
          </span>
        </md-input-container>
      </p>

      <p>
        <md-input-container>
          <input
            mdInput
            [(ngModel)]="password2"
            placeholder="Repeat Password"
            type="password"
            minlength="8"
            name="password2"
            required>
          <span md-prefix>
            <md-icon>lock</md-icon>&nbsp;
          </span>
        </md-input-container>
      </p>

      <p *ngIf="error">{{ error }}</p>

      <p>
        <button
          md-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || !password || password !== password2"
        >
          <md-spinner
            *ngIf="loading"
            class="in-button-spinner">
          </md-spinner>
          Change Password
        </button>
      </p>
    </form>
  </div>
  <div *ngIf="success">
    <div>
      <md-icon>check</md-icon>
    </div>
    <p>Your password was successfully changed.</p>
    <div>
      <a md-raised-button color="primary" routerLink="/login">Go Back</a>
    </div>
  </div>
</md-card>
