md-card
  width: 50%
  margin: 50px auto
  text-align: center

md-input-container
  min-width: 200px

md-input-container
  min-width: 200px

[md-prefix]
  opacity: .5

form
  margin-top: 50px

.error
  color: red

@media screen and (max-width: 480px)
  md-card
    width: auto

  form
    margin-top: 0
