<mat-card>
  <mat-card-title>Reset Password</mat-card-title>

  <div *ngIf="!success">
    <form (submit)="sendMail($event)" *ngIf="!userId || !token">
      <p>Please enter username or email address of your account.</p>
      <p>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="email"
            placeholder="Email or username"
            type="email"
            name="email"
            required
          >
          <span matPrefix>
            <mat-icon>email</mat-icon>&nbsp;
          </span>
        </mat-form-field>
      </p>

      <p *ngIf="message">{{ message }}</p>
      <p *ngIf="error" class="error">{{ error }}</p>

      <p>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || !email"
        >
          <mat-spinner
            *ngIf="loading"
            [diameter]="22"
            [strokeWidth]="2"
            class="in-button-spinner">
          </mat-spinner>
          Reset Password
        </button>
      </p>
    </form>

    <form (submit)="resetPassword($event)" *ngIf="userId && token">
      <p>Please choose a new password.</p>
      <p>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="password"
            placeholder="Password (min 8)"
            type="password"
            minlength="8"
            name="password"
            required>
          <span matPrefix>
            <mat-icon>lock</mat-icon>&nbsp;
          </span>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="password2"
            placeholder="Repeat Password"
            type="password"
            minlength="8"
            name="password2"
            required>
          <span matPrefix>
            <mat-icon>lock</mat-icon>&nbsp;
          </span>
        </mat-form-field>
      </p>

      <p *ngIf="error">{{ error }}</p>

      <p>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || !password || password !== password2"
        >
          <mat-spinner
            *ngIf="loading"
            [diameter]="22"
            [strokeWidth]="2"
            class="in-button-spinner">
          </mat-spinner>
          Change Password
        </button>
      </p>
    </form>
  </div>
  <div *ngIf="success">
    <div>
      <mat-icon>check</mat-icon>
    </div>
    <p>Your password was successfully changed.</p>
    <div>
      <a mat-raised-button color="primary" routerLink="/login">Go Back</a>
    </div>
  </div>
</mat-card>
