<md-list-item
  long-press
  (click)="showMenu()"
  [class.menu-open]="localMenuOpen"
>
  <img
    *ngIf="message.user"
    md-list-avatar avatar
    meditated-recently
    [user]="message.user"
    [routerLink]="['/profile', message.user._id]"
    [hash]="message.user.gravatarHash"
    [size]="40"
  >
  <img *ngIf="!message.user" md-list-avatar avatar [hash]="null" [size]="40">
  <h3 md-line>
    <b *ngIf="message.user" class="chat-name"><a [routerLink]="['/profile', message.user._id]">{{ message.user.name }}</a></b>
    <b *ngIf="!message.user">Deleted User</b>
    <flag [countryCode]="message.user?.country"></flag>
    <span class="fill"></span>
    <span class="chat-time">
      <md-icon class="edit-icon" *ngIf="message.edited && !message.deleted">edit</md-icon>
      {{ message.createdAt|amTimeAgo }}
    </span>
    <button class="hide" [md-menu-trigger-for]="menu"></button>
    <md-menu #menu="mdMenu">
      <button
        md-menu-item
        (click)="edit()"
        [disabled]="editDone()"
      > Edit </button>
      <button md-menu-item (click)="delete()"> Delete </button>
    </md-menu>
  </h3>
  <p md-line *ngIf="message.deleted">
    <span
      *ngIf="message.deleted"
      class="chat-text chat-text-deleted"
    >
      <em>This message has been deleted.</em>
    </span>
  </p>
  <p md-line *ngIf="admin || !message.deleted">
    <span
      class="chat-text"
      [innerHTML]="message.text|emoji|linky:{twitter:false}"
    ></span>
  </p>
</md-list-item>


<md-divider class="message-divider"></md-divider>
