<md-card>
  <md-card-title *ngIf="!modify">Add a new video</md-card-title>
  <md-card-title *ngIf="modify">Modify video</md-card-title>
  <b *ngIf="modify">"{{ modTitle }}"</b>
  <md-spinner *ngIf="loadingData" class="load-more-spinner"></md-spinner>
  <form *ngIf="!loadingData" (submit)="submit($event)" #wikiForm="ngForm">

    <h4>Link</h4>
    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="url"
        name="url"
        type="text"
        placeholder="copy youtube video link here"
        required="true"
      ></md-input>
    </div>

    <h4>Category</h4>
    <div>
      <!-- radio list of already existing categories -->
      <md-radio-group
        *ngIf="data"
        name="categories"
        [(ngModel)]="category"
        [disabled]="newCategory.length > 0"
      >
        <div *ngFor="let cat of categories">
          <md-radio-button [value]="cat">
            {{ cat }} ({{ data[cat]['count'] }})
          </md-radio-button>
        </div>
      </md-radio-group>

      <!-- input for new category -->
      <div class="flex row">
        <md-input
          class="fill"
          [(ngModel)]="newCategory"
          name="category"
          type="text"
          maxlength="50"
          placeholder="create a new category"
        ></md-input>
      </div>
    </div>

    <h4>Tags</h4>
    <div>
      <!-- add existing tags to list (of selected category) -->
      <div *ngIf="category && !newCategory && data[category] && data[category]['tags']"
            class="tags">
        <span *ngFor="let tag of data[category]['tags']" (click)="addTag(tag)">
          <b>+</b> {{tag}}
        </span>
      </div>

      <!-- input for new tags -->
      <div class="flex row">
        <md-input
          class="fill"
          [(ngModel)]="tags"
          name="tags"
          type="text"
          placeholder="add new tags (comma separated)"
        ></md-input>
      </div>
    </div>

    <p *ngIf="error" class="error" [innerHTML]="error"></p>
    <p *ngIf="success" class="success"><md-icon class="success">done</md-icon> submitted video successfully.</p>

    <div>
      <button
        md-raised-button
        color="primary"
        type="submit"
        [routerLink]="['/wiki']"
      >
        Back
      </button>
      <button
        md-raised-button
        color="primary"
        type="submit"
        [disabled]="loading || !wikiForm.form.valid"
      >
        <md-spinner
          *ngIf="loading"
          class="in-button-spinner">
        </md-spinner>
        Submit
      </button>
    </div>

  </form>
</md-card>
