/*h4 {
  border-bottom: 2px solid #555;
}*/
.logo {
  width: 100%;
  height: 230px;
  background: url('/assets/img/wiki_banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
    .logo {
      background-position: 30%;
    }
}

@media screen and (max-width: 430px) {
    .logo {
      background-position: 40%;
    }
}

md-icon {
  vertical-align: middle;
}

md-card {
  margin-top: -3px;
}

md-card-title, md-card-subtitle {
  text-align: center;
}

md-card-title * {
  vertical-align: middle;
}

table.toc {
  width: 100%;
  border-collapse: collapse;
}

.toc tr {
  cursor: pointer;
  padding: 5px;
}

.toc td {
  border-bottom: 1px solid #ccc;
}

.toc td:hover {
  background: rgba(0, 15, 13, .3);
}
.toc tr.selected {
  background: #009688;
  color: #fff;
}

/* play button of video */
.play {
  vertical-align: middle;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

a.url {
  vertical-align: middle;
  text-decoration: none;
}

.head {
  text-align: center;
}

.search {
  text-align: center;
  padding-top: 20px;
}

.search md-input {
  width: 100%;
  width: calc(100% - 50px);
  max-width: 750px;
}

.tag {
  background: lightcoral;
  color: #fff;
  padding: 4px;
  margin-right: 8px;
  font-size: .9em;
  font-weight: bold;
  border-radius: 19px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  opacity: .3;
}

.tag.active {
  opacity: 1;
}

.arrow {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.heading * {
  vertical-align: middle;
}

.heading span {
  font-size: .9em;
  text-transform: uppercase;
}

.content {
  padding-left: 30px;
}

[md-fab] {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: -23px;
}
