<md-card>
  <form (submit)="submit($event)" #wikiForm="ngForm">

    <h4>Link</h4>
    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="url"
        name="url"
        type="text"
        placeholder="youtube video URL"
        required="true"
      ></md-input>
    </div>

    <div>
      <div>
        <md-radio-group
          *ngIf="structure"
          name="categories"
          [(ngModel)]="category"
          [disabled]="customCategory.length > 0"
          (change)="resetTags()"
          required="true"
        >
          <div *ngFor="let cat of structure">
            <md-radio-button [value]="cat.name">
              {{cat.name}}
            </md-radio-button>
          </div>
        </md-radio-group>
        <div class="flex row">
          <md-input
            class="fill"
            [(ngModel)]="customCategory"
            name="category"
            type="text"
            maxlength="50"
            placeholder="create a new category"
          ></md-input>
        </div>
      </div>
    </div>

    <h4>Tags</h4>
    <div>
      <!-- list of available tags for selected category -->
      <div *ngIf="category && structure[category] && customCategory.length === 0">
        <div *ngFor="let tag of structure[category].tags">
          <md-checkbox (change)="toggleTag($event, tag)">
          {{ tag }}
          </md-checkbox>
        </div>
      </div>

      <!-- text input for new tags -->
      <div class="flex row">
        <md-input
          class="fill"
          [(ngModel)]="customTags"
          name="tags"
          type="text"
          placeholder="add new tags (comma separated)"
        ></md-input>
      </div>
    </div>

    <p *ngIf="error" class="error" [innerHTML]="error"></p>

    <div>
      <button
        md-raised-button
        color="primary"
        type="submit"
        [routerLink]="['/wiki']"
      >
        Back
      </button>
      <button
        md-raised-button
        color="primary"
        type="submit"
        [disabled]="loading || success || !wikiForm.form.valid"
      >
        <md-icon class="success" *ngIf="success">done</md-icon>
        <md-spinner
          *ngIf="loading"
          class="in-button-spinner">
        </md-spinner>
        Submit
      </button>
    </div>

  </form>
</md-card>
