<md-list-item
  [class.hidden]="isHidden()"
  [class.answering]="question.answeringAt && !question.answered"
>
  <img
    *ngIf="question.user"
    md-list-avatar avatar
    meditated-recently
    [user]="question.user"
    [routerLink]="['/profile', question.user.username]"
    [hash]="question.user.gravatarHash"
    [size]="40"
  >
  <img *ngIf="!question.user" md-list-avatar avatar [hash]="null" [size]="40">

  <h3 md-line>
    <b *ngIf="question.user" class="question-name"><a [routerLink]="['/profile', question.user.username]">{{ question.user.name }}</a></b>
    <b *ngIf="!question.user">Deleted User</b>
    <flag [countryCode]="question.user?.country"></flag>
    <span *ngIf="loading">
      <md-spinner class="in-button-spinner"></md-spinner>
    </span>
    <span class="fill"></span>
    <span class="question-time">
      {{ question.createdAt | amTimeAgo }}
    </span>
  </h3>
  <p md-line>
    <span class="question-text" [innerHTML]="question.text|emoji|linky:{twitter:false}"></span>
  </p>
  <p md-line *ngIf="question.answeredAt">
    <span class="question-text answered-at">
      -- Answered at {{ question.answeringAt | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
    </span>
  </p>

  <p md-line class="button-area">
    <button
      *ngIf="mode != 2 && (!question.answered || question.answered && question.numOfLikes > 0)"
      md-icon-button
      title="Add a thumbs up"
      [disabled]="loading || question.answered || question.alreadyLiked || (question.user && question.user._id === userId)"
      (click)="like()"
    >
      <md-icon>thumb_up</md-icon> {{ question.numOfLikes }}
    </button>
    <button
      *ngIf="mode != 2 && !question.answeringAt && !question.answered && isAdmin"
      md-raised-button
      title="Start answering"
      md-icon-button
      color="primary"
      [disabled]="loading"
      (click)="answering()"
    >
      <md-icon>comment</md-icon>
    </button>
    <button
      *ngIf="mode != 2 && question.answeringAt && !question.answered && isAdmin"
      md-raised-button
      title="Cancel answering"
      md-icon-button
      color="primary"
      [disabled]="loading"
      (click)="unanswering()"
    >
      <md-icon>cancel</md-icon>
    </button>
    <button
      *ngIf="mode != 2 && (!question.answered && ((isAdmin && question.answeringAt) || (question.user && userId === question.user._id)))"
      md-raised-button
      title="Mark as answered"
      md-icon-button
      color="primary"
      [disabled]="loading"
      (click)="answer()"
    >
      <md-icon>check</md-icon>
    </button>
    <button
      *ngIf="mode != 2 && (isAdmin || (question.user && userId === question.user._id))"
      md-raised-button
      title="Delete question"
      md-icon-button
      color="warn"
      [disabled]="loading"
      (click)="delete()"
    >
      <md-icon>remove_circle</md-icon>
    </button>
    <a
      [href]="question.broadcast.videoUrl + '?t=' + question.broadcastDiff"
      target="_BLANK"
      *ngIf="question.answered && question.broadcast?.videoUrl"
      md-raised-button
      md-icon-button
      class="video-url-link"
      title="Jump to answer in broadcast"
      md-icon-button

    >
      <md-icon>videocam</md-icon>
    </a>

  </p>

</md-list-item>
<md-divider
  [class.hidden]="isHidden()"
  class="question-divider"
></md-divider>