.hidden {
  display: none;
}

.answering /deep/ .md-list-item {
  background-color: rgba(0, 150, 136, .6);
}

.video-url-link md-icon {
  position: relative;
  top: 7px;
}

.answered-at {
  margin-top: 6px;
  font-size: 12px;
  opacity: .5;
  font-style: italic;
}

.button-area {
  margin-top: 15px;
  padding-bottom: 10px;
}

.button-area button {
  margin-right: 20px;
}

flag {
  margin-left: 5px;
  margin-right: 5px;
}

img[md-list-avatar] {
  min-width: 40px;
  min-height: 40px;
  margin-top: 15px;
  border: 3px solid transparent;
}

p[md-line] {
  white-space: normal;
}

.meditated-recently {
  border-color: #60992d;
}

h3 a {
  text-decoration: none;
  color: black;
}

.question-text {
  word-wrap: break-word;
  margin-top: 5px;
  width: 100%;
}

.question-time {
  position: relative;
  top: 3px;
  opacity: .5;
  font-size: 12px;
}

.question-text /deep/ [class*=e1a-] {
  padding-top: 5px;
  font-size: 25px;
}

.question-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-button-spinner {
  margin-top: -6px;
}

.question-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-top: 5px;
  width: 100%;
}

.question-date {
  opacity: .5;
  font-size: 12px;
}

md-list-item [md-line] {
  display: flex;
  padding-top: 0;
  overflow: hidden;
}

md-input /deep/ .md-input-wrapper {
  margin: 16px 0 22px 0;
}

md-list-item /deep/ h3 {
  margin-top: 5px;
}

md-list-item /deep/ .md-list-item {
  min-height: 75px;
  height: auto !important;
  position: relative;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

md-list-item /deep/ .md-list-text {
  min-height: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
}
