.hidden
  display: none

.answering /deep/ .mat-list-item
  background-color: rgba(0, 150, 136, .6)

.video-url-link mat-icon
  position: relative
  top: 7px

.answered-at
  margin-top: 6px
  font-size: 12px
  opacity: .5
  font-style: italic

.button-area
  margin-top: 15px !important
  padding-bottom: 10px !important

.button-area button
  margin-right: 20px

mat-form-field /deep/ .mat-input-wrapper
  margin: 16px 0 22px 0
