.hidden
  display: none

.answering /deep/ .mat-list-item
  background-color: rgba(0, 150, 136, .6)

.video-url-link mat-icon
  position: relative
  top: 7px

.answered-at
  margin-top: 6px
  font-size: 12px
  opacity: .5
  font-style: italic

.button-area
  margin-top: 15px !important
  padding-bottom: 10px !important

.button-area button
  margin-right: 20px

flag
  margin-left: 5px
  margin-right: 5px

img[mat-list-avatar]
  min-width: 40px
  min-height: 40px
  margin-top: 15px
  border: 3px solid transparent

p[mat-line]
  white-space: normal

.meditated-recently
  border-color: #60992d

h3 a
  text-decoration: none
  color: black

.question-text
  word-wrap: break-word
  margin-top: 5px
  width: 100%

.question-time
  position: relative
  top: 3px
  opacity: .5
  font-size: 12px

.question-text /deep/ [class*=e1a-]
  padding-top: 5px
  font-size: 25px

.question-name
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.in-button-spinner
  margin-top: -6px

.question-text
  word-wrap: break-word
  white-space: pre-wrap
  margin-top: 5px
  width: 100%

.question-date
  opacity: .5
  font-size: 12px

mat-list-item [mat-line]
  display: flex
  padding-top: 0
  overflow: hidden

mat-form-field /deep/ .mat-input-wrapper
  margin: 16px 0 22px 0

mat-list-item /deep/ h3
  margin-top: 5px

mat-list-item /deep/ .mat-list-item-content
  min-height: 75px
  height: auto !important
  position: relative
  -webkit-box-align: flex-start !important
  -ms-flex-align: flex-start !important
  align-items: flex-start !important

mat-list-item /deep/ .mat-list-text
  min-height: 72px
  padding-top: 10px !important
  padding-bottom: 10px !important
