<md-list-item [class.hidden]="isHidden()">
  <img
    *ngIf="question.user"
    md-list-avatar avatar
    [class.avatar-meditator]="question.user.meditator"
    [title]="question.user.meditator ? 'Meditated recently' : ''"
    [routerLink]="['/profile', question.user._id]"
    [hash]="question.user.gravatarHash"
    [size]="40"
  >
  <img *ngIf="!question.user" md-list-avatar avatar [hash]="null" [size]="40">

  <h3 md-line>
    <b *ngIf="question.user" class="question-name"><a [routerLink]="['/profile', question.user._id]">{{ question.user.name }}</a></b>
    <b *ngIf="!question.user">Deleted User</b>
    <flag [countryCode]="question.user?.country"></flag>
    <span *ngIf="loading">
      <md-spinner class="in-button-spinner"></md-spinner>
    </span>
    <span class="fill"></span>
    <span class="question-time">
      {{ question.createdAt | amTimeAgo }}
    </span>
  </h3>
  <p md-line>
    <span class="question-text" [innerHTML]="question.text|emoji|linky:{twitter:false}"></span>
  </p>

  <p md-line class="button-area">
    <button
      md-icon-button
      title="Add a thumbs up"
      [disabled]="loading || question.answered || question.alreadyLiked || question.user._id === userId"
      (click)="like()"
    >
      <md-icon>thumb_up</md-icon> {{ question.numOfLikes }}
    </button>
    <button
      *ngIf="!question.answered && (isAdmin || userId === question.user._id)"
      md-raised-button
      title="Mark as answered"
      md-icon-button
      color="primary"
      [disabled]="loading"
      (click)="answer()"
    >
      <md-icon>check</md-icon>
    </button>
    <button
      *ngIf="isAdmin || userId === question.user._id"
      md-raised-button
      title="Delete question"
      md-icon-button
      color="warn"
      [disabled]="loading"
      (click)="delete()"
    >
      <md-icon>remove_circle</md-icon>
    </button>
  </p>

</md-list-item>
<md-divider
  [class.hidden]="isHidden()"
  class="question-divider"
></md-divider>