<!-- loading animation -->
<div class="loading-animation" *ngIf="state.status < VC_STATE.CONNECTED">
  <p>{{ state.loadingMessage }}</p>
  <div id="fountainG" *ngIf="!preview">
    <div id="fountainG_1" class="fountainG"></div>
    <div id="fountainG_2" class="fountainG"></div>
    <div id="fountainG_3" class="fountainG"></div>
    <div id="fountainG_4" class="fountainG"></div>
    <div id="fountainG_5" class="fountainG"></div>
    <div id="fountainG_6" class="fountainG"></div>
    <div id="fountainG_7" class="fountainG"></div>
    <div id="fountainG_8" class="fountainG"></div>
  </div>
</div>

<!-- icons indicating opponent's camera/mic status -->
<div class="media-status" *ngIf="state.oppMedia && (!state.oppMedia.active.cam || !state.oppMedia.active.mic)">
  <mat-icon
    *ngIf="!state.oppMedia.active.cam"
    [class.media-disabled]="!state.oppMedia.available.cam"
    title="opponent has no camera or has disabled it"
  >videocam_off</mat-icon>
  <mat-icon
    *ngIf="!state.oppMedia.active.mic"
    [class.media-disabled]="!state.oppMedia.available.mic"
    title="opponent has no mic or has disabled it"
  >mic_off</mat-icon>
</div>

<!--  video from remote stream (big image)-->
<video
  #remoteVideo
  [class.hidden]="state.status !== VC_STATE.CONNECTED"
  class="video-remote"
  autoplay="true"
></video>

<!-- video from local webcam (small image) -->
<video
  #localVideo
  [class.hidden]="state.media && !(state.media.available.cam && state.media.active.cam)"
  class="video-local"
  autoplay="true"
  muted
  onloadedmetadata="this.muted = true"
></video>

<!-- action buttons -->
<div class="control-buttons">
  <!-- toggle webcam -->
  <button
    *ngIf="state.media && state.media.available.cam"
    mat-mini-fab
    title="toggle camera"
    (click)="toggleCamera()"
  >
    <mat-icon *ngIf="state.media.active.cam">videocam</mat-icon>
    <mat-icon *ngIf="!state.media.active.cam">videocam_off</mat-icon>
  </button>

  <!-- toggle mic -->
  <button
    *ngIf="state.media && state.media.available.mic"
    mat-mini-fab
    title="toggle microphone"
    (click)="toggleMicrophone()"
  >
    <mat-icon *ngIf="state.media.active.mic">mic</mat-icon>
    <mat-icon *ngIf="!state.media.active.mic">mic_off</mat-icon>
  </button>

  <!-- exit call -->
  <button
    mat-mini-fab
    title="end call"
    (click)="exit()"
    class="btn-end"
  >
    <mat-icon>call_end</mat-icon>
  </button>
</div>


