<div class="frame">
  <span class="headline">add offline meditation</span>
  <form #form="ngForm" (submit)="sendMeditation($event)" class="flex">
  <div>


    <md-form-field class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="date"
        name="date"
        [mdDatepicker]="picker"
        [min]="minDate"
        [max]="today"
        placeholder="Date"
        (focus)="picker.open()"
        [disabled]="sending"
        type="text"
        readonly="true">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>

    <md-input-container class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="time"
        name="time"
        placeholder="Time"
        max="120"
        type="text"
        [disabled]="sending">
      <span mdSuffix>
        <md-icon>query_builder</md-icon>&nbsp;
      </span>
    </md-input-container>
  </div>
  <div>
    <md-input-container class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="walking"
        name="walking"
        placeholder="Walking"
        min="0"
        max="240"
        type="number"
        [disabled]="sending">
    </md-input-container>
    <md-input-container class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="sitting"
        name="sitting"
        placeholder="Sitting"
        min="0"
        max="240"
        type="number"
        [disabled]="sending">
    </md-input-container>
  </div>
  <div>
    <button
      md-mini-fab type="submit"
      [disabled]="(!sitting && !walking) || !checkTime() || sending"
    >
      <md-icon *ngIf="!sending && !success">send</md-icon>
      <md-icon *ngIf="success">done</md-icon>
      <md-spinner *ngIf="sending" class="in-button-spinner"></md-spinner>
    </button>
  </div>
  </form>
  <span *ngIf="error" class="error-msg">{{ error }}</span>
</div>
