<mat-card>

  <form (submit)="submit()">
    <div class="flex row">
      <mat-form-field class="fill">
        <input
          matInput
          [(ngModel)]="broadcast.started"
          name="started"
          placeholder="Started (e.g. 2016-08-21 20:00)"
        >
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field class="fill">
        <input
          matInput
          [(ngModel)]="broadcast.ended"
          name="ended"
          placeholder="Ended (e.g. 2016-08-22 01:00)"
        >
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field class="fill">
        <input
          matInput
          [(ngModel)]="broadcast.videoUrl"
          name="videoUrl"
          placeholder="YouTube Video Url"
        >
      </mat-form-field>
    </div>

    <p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Save
      </button>

      <button mat-button [routerLink]="['/admin/broadcasts']">Cancel</button>
    </p>
  </form>
</mat-card>
