<form (submit)="submit($event)">

  <div class="padding">
    <h3>Welcome to our online meditation page!</h3>

    <p>The meditation we practice is based on the teachings found in <a href="http://htm.sirimangalo.org/">this booklet</a>.</p>

    <p>Please let us know you are here by submitting your intended time spent walking and sitting.</p>
    <p>We normally do walking first, then sitting.</p>
  </div>

  <md-card>
    <md-card-content>
      <p>
        <md-input name="username" [(ngModel)]="username" type="text" placeholder="Username"></md-input>
      </p>
      <p>
        <md-input name="password" [(ngModel)]="password" type="password" placeholder="Password"></md-input>
      </p>
      <p *ngIf="doSignup">
        <md-input name="password2" [(ngModel)]="password2" type="password" placeholder="Repeat password"></md-input>
      </p>
      <p *ngIf="doSignup">
        <md-input name="email" [(ngModel)]="email" type="email" placeholder="Email"></md-input>
      </p>
      <p *ngIf="error">{{ error }}</p>
      <p *ngIf="!doSignup">
          <button md-raised-button color="primary" type="submit">
            Login
          </button>
          <button md-raised-button (click)="toggleSignup($event)">Signup</button>
      </p>
      <p *ngIf="doSignup">
        <button md-raised-button color="primary" type="submit">
          Signup
        </button>
        <button md-raised-button (click)="toggleSignup($event)">Login</button>
       </p>
    </md-card-content>
  </md-card>
</form>