<form (submit)="submit($event)" #loginForm="ngForm">
  <mat-card>
    <div class="login-content">
      <mat-card-title *ngIf="!doSignup">Login</mat-card-title>
      <mat-card-title *ngIf="doSignup">Signup</mat-card-title>

      <mat-card-content>
        <p>
          <mat-form-field>
            <input
              matInput
              name="email"
              #mail="ngModel"
              [(ngModel)]="email"
              placeholder="Email or Username"
              required
              dividerColor="(mail.valid || mail.pristine) ? 'primary' : 'warn'"
              *ngIf="!doSignup">
              <input
                matInput
                name="email"
                #mail="ngModel"
                [(ngModel)]="email"
                placeholder="Email"
                required
                dividerColor="(mail.valid || mail.pristine) ? 'primary' : 'warn'"
                *ngIf="doSignup">
              <span matPrefix *ngIf="!doSignup">
                <mat-icon>email</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              matInput
              minlength="8"
              required
              name="password"
              #pass="ngModel"
              [(ngModel)]="password"
              type="password"
              placeholder="Password (min 8)"
              dividerColor="(pass.valid || pass.pristine) ? 'primary' : 'warn'">
              <span matPrefix *ngIf="!doSignup">
                <mat-icon>lock</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p *ngIf="usernameRequested && !doSignup">
          <mat-form-field>
            <input
              matInput
              name="username"
              #usrName="ngModel"
              [(ngModel)]="username"
              placeholder="Username"
              required
              pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"
              dividerColor="(usrName.valid || usrName.pristine) ? 'primary' : 'warn'">
              <span matPrefix>
                <mat-icon>person</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="password2"
              minlength="8"
              #pass2="ngModel"
              [(ngModel)]="password2"
              type="password"
              placeholder="Repeat password"
              [required]="doSignup"
              dividerColor="(pass2.valid || pass2.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="usernameSignup"
              #usrNameSign="ngModel"
              [(ngModel)]="username"
              placeholder="Username"
              required
              pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"
              dividerColor="(usrNameSign.valid || usrNameSign.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="name"
              [(ngModel)]="name"
              #iname="ngModel"
              type="text"
              spellcheck="false"
              placeholder="Your name"
              [required]="doSignup"
              dividerColor="(iname.valid || iname.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">{{ error }}</p>
        <p *ngIf="message">{{ message }}</p>
        <span
          *ngIf="btnResend"
          class="href"
          (click)="resendEmail()"
        >
          Resend activation email
        </span>

        <p *ngIf="!doSignup">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loading || !loginForm.form.valid"
            >
              <mat-spinner
                *ngIf="loading"
                diameter="22"
                strokeWidth="2"
                class="in-button-spinner">
              </mat-spinner>
              Login
            </button>
            <button
              mat-raised-button
              (click)="toggleSignup($event)"
              [disabled]="loading"
            >
              Signup
            </button>
        </p>

        <p *ngIf="doSignup">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loading || !loginForm.form.valid"
          >
            <mat-spinner
              *ngIf="loading"
              diameter="22"
              strokeWidth="2"
              class="in-button-spinner">
            </mat-spinner>
            Signup
          </button>
          <button
            mat-raised-button (click)="toggleSignup($event)"
            [disabled]="loading"
          >
            Cancel
          </button>
         </p>

      </mat-card-content>
    </div>

    <a [routerLink]="['/reset-password']" class="resetpw">Forgot Password?</a>
  </mat-card>

  <mat-card class="primary-card">
    <h3>Welcome to our online meditation page!</h3>

    <p>The meditation we practice is based on the teachings found in <a href="http://htm.sirimangalo.org/" target="_BLANK">this booklet</a>.</p>

    <p>Please let us know you are here by submitting your intended time spent walking and sitting.</p>

    <p>If you have trouble logging in or experience other technical difficulties, please visit <a href="https://github.com/Sirimangalo/meditation-plus-angular/wiki/Troubleshooting" target="_BLANK">our troubleshooting page</a>.</p>
  </mat-card>

</form>
