<div class="flexbox-item-grow fill-area-content list">

  <div *ngIf="!loadedInitially" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngFor="let commitment of commitments">
    <mat-card-title>{{ commitment.minutes }} minutes of {{ commitment.type }} meditation</mat-card-title>

    <a *ngFor="let user of commitment.users" [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
      <img class="profile-image" avatar [hash]="user.gravatarHash" [size]="40" [title]="user.name">
    </a>

    <p>
      <button
        mat-raised-button
        color="primary"
        (click)="commit($event, commitment)"
        *ngIf="!committed(commitment)"
      >
        Commit
      </button>

      <button
        mat-raised-button
        (click)="uncommit($event, commitment)"
        *ngIf="committed(commitment)"
      >
        Uncommit
      </button>

      <span *ngIf="profile && committed(commitment)">
        You've reached {{ reached(commitment) }}%.
      </span>
    </p>
  </mat-card>

  <p class="center">The calculation is based on the last 10 days.</p>
</div>