<div class="flexbox-item-grow fill-area-content list">
  <md-card *ngFor="let commitment of commitments">
    <md-card-title>{{ commitment.minutes }} minutes of {{ commitment.type }} meditation</md-card-title>

    <span *ngFor="let user of commitment.users">
      <img class="profile-image" avatar [hash]="user.gravatarHash" [size]="40">
    </span>

    <p>
      <button
        md-raised-button
        color="primary"
        (click)="commit($event, commitment)"
        *ngIf="!committed(commitment)"
      >
        Commit
      </button>

      <button
        md-raised-button
        (click)="uncommit($event, commitment)"
        *ngIf="committed(commitment)"
      >
        Uncommit
      </button>

      <span *ngIf="profile && committed(commitment)">
        You've reached {{ reached(commitment) }}%.
      </span>
    </p>
  </md-card>

  <p class="center">The calculation is done for a whole week.</p>
</div>