<div class="flexbox-item-grow fill-area fill-area-content list meditations-container" *ngIf="!ownSession">
  <meditation-chart class="no-shrink"></meditation-chart>
  <md-divider></md-divider>
  <div *ngIf="commitment && commitmentProgress >= 0" class="commitment">
    <md-progress-bar
      md-mode="determinate"
      [value]="commitmentProgress">
    </md-progress-bar>
    <table>
      <tr>
        <td>commitment:</td>
        <td>{{ commitment.minutes }} minutes {{ commitment.type }}</td>
      </tr>
      <tr>
        <td>today:</td>
        <td>{{ commitmentProgressDaily }} minutes</td>
      </tr>
      <tr>
        <td>total:</td>
        <td>{{ commitmentProgress }}%</td>
      </tr>
    </table>
  </div>
  <md-divider></md-divider>
  <div *ngIf="activeMeditations?.length > 0" class="no-shrink">
    <md-card-title class="padding">
      <span>Currently meditating</span>
      <span class="fill"></span>

      <button
        md-icon-button
        md-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="loadingLike || profile?.lastLike > lastMeditationSession"
      >
        <md-spinner *ngIf="loadingLike" class="in-button-spinner"></md-spinner>
        <span *ngIf="!loadingLike">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>

    </md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of activeMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div *ngIf="finishedMeditations?.length > 0" class="no-shrink">
    <md-card-title class="padding">
      <span>Finished meditating</span>
      <span class="fill"></span>
      <button
        *ngIf="activeMeditations?.length < 1"
        md-icon-button
        md-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="loadingLike || profile?.lastLike > lastMeditationSession"
      >
        <md-spinner *ngIf="loadingLike" class="in-button-spinner"></md-spinner>
        <span *ngIf="!loadingLike">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>
    </md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of finishedMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div
    *ngIf="loadedInitially && finishedMeditations?.length + activeMeditations?.length === 0"
  >
    <md-card-title class="padding">No recent meditations</md-card-title>
  </div>

  <div *ngIf="!loadedInitially" class="loader">
    <md-spinner></md-spinner>
  </div>
</div>

<md-card>
  <div *ngIf="ownSession">
    <div class="center">
      <p><img class="profile-img" avatar [hash]="ownSession.user.gravatarHash"></p>
      <span *ngFor="let meditation of activeMeditations">
        <img
          class="small-profile-img"
          avatar
          [hash]="meditation.user.gravatarHash"
          title="{{ meditation.user.name }} is also meditating right now."
          size="32"
          *ngIf="ownSession.user._id !== meditation.user._id"
        >
      </span>
      <h3>Meditating</h3>

      <div
        class="status"
        [class.status-single]="!ownSession.walking || !ownSession.sitting"
      >
        <div class="walking" *ngIf="ownSession.walking">

          {{ ownSession.walkingLeft }}m left

          <md-progress-spinner
            mode="determinate"
            [class.inactive]="!ownSession.walkingLeft"
            [value]="ownSession.walkingLeft ? round(100 * ownSession.walkingLeft / ownSession.walking) : 100"
            #progressWalking
          >
          </md-progress-spinner>

          <div class="progress">
            <md-icon>
              directions_walk
            </md-icon>
          </div>

        </div>
        <div class="sitting" *ngIf="ownSession.sitting">

          {{ ownSession.sittingLeft }}m left

          <md-progress-spinner
            mode="determinate"
            [class.inactive]="!ownSession.sittingLeft"
            [value]="ownSession.sittingLeft ? round(100 * ownSession.sittingLeft / ownSession.sitting) : 100"
            #progressSitting
          >
          </md-progress-spinner>

          <div class="progress">
            <img src="/assets/img/sitting.svg">
          </div>
        </div>
      </div>

      <div *ngIf="ownSession.walkingLeft == ownSession.walking && ownSession.sittingLeft == ownSession.sitting">
        <i class="e1a-pray"></i><br>
        Have a good session.
      </div>

      <p><button md-raised-button (click)="stop()">STOP</button></p>
    </div>
  </div>

  <form (submit)="startMeditation($event)" class="flex" *ngIf="!ownSession">
    <md-input-container class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="walking"
        name="walking"
        placeholder="Walking"
        max="240"
        type="number"
        [disabled]="sending"
        >
    </md-input-container>
    <md-input-container class="fill meditation-input">
      <input
        mdInput
        [(ngModel)]="sitting"
        name="sitting"
        placeholder="Sitting"
        max="240"
        type="number"
        [disabled]="sending">
    </md-input-container>
    <button
      md-mini-fab type="submit"
      [disabled]="(!sitting && !walking) || sending"
    >
      <md-icon *ngIf="!sending">alarm_on</md-icon>
      <md-spinner *ngIf="sending" class="in-button-spinner"></md-spinner>
    </button>
  </form>
</md-card>
