md-card.nopadding {
  padding: 0;
}

.profile-img {
  width: 160px;
  border-radius: 80px;
}

.center {
  text-align: center;
}

md-progress-circle {
  margin: auto;
}

.progress {
  position: relative;
  top: -57px;
  opacity: .6;
}

.progress i {
  font-size: 25px;
}

.chart {
  display: inline-block;
  height: 200px !important;
  width: 100%;
}

@media screen and (max-width: 480px) {
    .chart {
        height: 100px !important;
    }
}

md-card-title {
  margin-top: 10px;
  font-size: 17px;
  margin-bottom: 5px;
}

[md-mini-fab] {
  min-width: 40px;
}

md-list {
  padding-top: 0;
}

.chart-wrapper {
  text-align: center;
}

.meditation-input {
  margin-right: 10px;
}

.meditation-row {
  position: relative;
}

md-list .meditation-row:last-child md-divider {
  display: none;
}