md-card.nopadding {
  padding: 0;
}

.profile-img {
  width: 160px;
  border-radius: 80px;
}

.status {
  width: 200px;
  display: flex;
  margin: auto;
  text-align: center;
}

.status-single {
  width: 100px;
}

.status img {
  height: 20px;
}

.small-profile-img {
  width: 32px;
  border-radius: 16px;
}

.center {
  text-align: center;
}

md-progress-circle {
  margin: auto;
}

.progress {
  flex: 1;
  -webkit-flex: 1 auto;
  position: relative;
  top: -59px;
  opacity: .6;
}

.progress i {
  font-size: 25px;
}

md-card-title {
  margin-top: 10px;
  font-size: 17px;
  margin-bottom: 5px;
}

[md-mini-fab] {
  min-width: 40px;
}

button md-spinner {
  margin-left: 9px;
}

md-list {
  padding-top: 0;
}

.chart-wrapper {
  text-align: center;
}

.meditation-input {
  margin-right: 10px;
}

.meditation-row {
  position: relative;
}

md-list .meditation-row:last-child md-divider {
  display: none;
}