<div class="flexbox-item-grow fill-area-content list">
  <div class="chart-wrapper">
    <base-chart
      class="chart"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="false"
      chartType="line"
    >
    </base-chart>
  </div>

  <div *ngIf="activeMeditations?.length > 0">
    <md-card-title class="padding">Currently meditating</md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of activeMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div *ngIf="finishedMeditations?.length > 0">
    <md-card-title class="padding">Finished meditating</md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of finishedMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div
    *ngIf="loadedInitially && finishedMeditations?.length + activeMeditations?.length === 0"
  >
    <md-card-title class="padding">No recent meditations</md-card-title>
  </div>

  <div *ngIf="!loadedInitially" class="loader">
    <md-spinner></md-spinner>
  </div>
</div>

<md-card>
  <form (submit)="sendMeditation($event)" class="flex">
    <md-input
      [(ngModel)]="sitting"
      name="sitting"
      placeholder="Sitting"
      maxLength="3"
      type="number"
      class="fill meditation-input">
    </md-input>
    <md-input
      [(ngModel)]="walking"
      name="walking"
      placeholder="Walking"
      maxLength="3"
      type="number"
      class="fill meditation-input">
    </md-input>
    <button
      md-mini-fab type="submit"
      [disabled]="!sitting && !walking"
    >
      <md-icon>alarm_on</md-icon>
    </button>
  </form>
</md-card>