md-card.nopadding {
  padding: 0;
}

.chart {
  display: inline-block;
  height: 200px !important;
  width: 100%;
}

md-list {
  padding-top: 0;
}

.chart-wrapper {
  text-align: center;
}

.meditation-input {
  margin-right: 10px;
}

.meditation-row {
  position: relative;
}

md-list .meditation-row:last-child md-divider {
  display: none;
}