<div class="flexbox-item-grow fill-area fill-area-content list meditations-container" *ngIf="!ownSession">
  <meditation-chart class="no-shrink"></meditation-chart>
  <mat-divider></mat-divider>
  <div *ngIf="commitments">
    <div *ngFor="let id of keys(commitments)" class="commitment">
      <span>{{ commitments[id].minutes }} minutes {{ commitments[id].type }} commitment: {{ commitments[id].reached }}%</span>
      <mat-progress-bar
        mat-mode="determinate"
        [value]="commitments[id].reached">
      </mat-progress-bar>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="activeMeditations?.length > 0" class="no-shrink">
    <mat-card-title class="padding">
      <span>Currently meditating</span>
      <span class="fill"></span>

      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="loadingLike || profile?.lastLike > lastMeditationSession"
      >
        <mat-spinner *ngIf="loadingLike" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        <span *ngIf="!loadingLike">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>

    </mat-card-title>
    <mat-card class="nopadding">
      <mat-list class="meditations">
        <div *ngFor="let meditation of activeMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <mat-divider class="meditation-divider"></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div *ngIf="finishedMeditations?.length > 0" class="no-shrink">
    <mat-card-title class="padding">
      <span>Finished meditating</span>
      <span class="fill"></span>
      <button
        *ngIf="activeMeditations?.length < 1"
        mat-icon-button
        mat-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="loadingLike || profile?.lastLike > lastMeditationSession"
      >
        <mat-spinner *ngIf="loadingLike" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        <span *ngIf="!loadingLike">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>
    </mat-card-title>
    <mat-card class="nopadding">
      <mat-list class="meditations">
        <div *ngFor="let meditation of finishedMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <mat-divider class="meditation-divider"></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div
    *ngIf="loadedInitially && finishedMeditations?.length + activeMeditations?.length === 0"
  >
    <mat-card-title class="padding">No recent meditations</mat-card-title>
  </div>

  <div *ngIf="!loadedInitially" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</div>

<mat-card>
  <div *ngIf="ownSession">
    <div class="center">
      <p><img class="profile-img" avatar [hash]="ownSession.user.gravatarHash"></p>
      <span *ngFor="let meditation of activeMeditations">
        <img
          class="small-profile-img"
          avatar
          [hash]="meditation.user.gravatarHash"
          title="{{ meditation.user.name }} is also meditating right now."
          size="32"
          *ngIf="ownSession.user._id !== meditation.user._id"
        >
      </span>
      <h3>Meditating</h3>

      <div
        class="status"
        [class.status-single]="!ownSession.walking || !ownSession.sitting"
      >
        <div class="walking" *ngIf="ownSession.walking">

          {{ ownSession.walkingLeft }}m left

          <mat-progress-spinner
            mode="determinate"
            [class.inactive]="!ownSession.walkingLeft"
            [value]="ownSession.walkingLeft ? round(100 * ownSession.walkingLeft / ownSession.walking) : 100"
            #progressWalking
          >
          </mat-progress-spinner>

          <div class="progress">
            <mat-icon>
              directions_walk
            </mat-icon>
          </div>

        </div>
        <div class="sitting" *ngIf="ownSession.sitting">

          {{ ownSession.sittingLeft }}m left

          <mat-progress-spinner
            mode="determinate"
            [class.inactive]="!ownSession.sittingLeft"
            [value]="ownSession.sittingLeft ? round(100 * ownSession.sittingLeft / ownSession.sitting) : 100"
            #progressSitting
          >
          </mat-progress-spinner>

          <div class="progress">
            <img *ngIf="!isCordova" src="/assets/img/sitting.svg">
            <img *ngIf="isCordova" src="assets/img/sitting.png">
          </div>
        </div>
      </div>

      <div *ngIf="ownSession.walkingLeft == ownSession.walking && ownSession.sittingLeft == ownSession.sitting">
        <i class="e1a-pray"></i><br>
        Have a good session.
      </div>

      <p><button mat-raised-button (click)="stop()">STOP</button></p>
    </div>
  </div>

  <form (submit)="startMeditation($event)" class="flex" *ngIf="!ownSession">
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="walking"
        name="walking"
        placeholder="Walking"
        max="240"
        type="number"
        [disabled]="sending"
        >
    </mat-form-field>
    <mat-form-field class="fill meditation-input">
      <input
        matInput
        [(ngModel)]="sitting"
        name="sitting"
        placeholder="Sitting"
        max="240"
        type="number"
        [disabled]="sending">
    </mat-form-field>
    <button
      mat-mini-fab type="submit"
      [disabled]="(!sitting && !walking) || sending"
    >
      <mat-icon *ngIf="!sending">alarm_on</mat-icon>
      <mat-spinner *ngIf="sending" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
    </button>
  </form>
</mat-card>
