<div class="flexbox-item-grow fill-area-content list" *ngIf="!ownSession">
  <div class="chart-wrapper">
    <base-chart
      class="chart"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="false"
      chartType="line"
    >
    </base-chart>
  </div>

  <div *ngIf="activeMeditations?.length > 0">
    <md-card-title class="padding">Currently meditating</md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of activeMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div *ngIf="finishedMeditations?.length > 0">
    <md-card-title class="padding">Finished meditating</md-card-title>
    <md-card class="nopadding">
      <md-list class="meditations">
        <div *ngFor="let meditation of finishedMeditations" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <md-divider class="meditation-divider"></md-divider>
        </div>
      </md-list>
    </md-card>
  </div>

  <div
    *ngIf="loadedInitially && finishedMeditations?.length + activeMeditations?.length === 0"
  >
    <md-card-title class="padding">No recent meditations</md-card-title>
  </div>

  <div *ngIf="!loadedInitially" class="loader">
    <md-spinner></md-spinner>
  </div>
</div>

<md-card>

  <div *ngIf="ownSession">
    <div class="center">
      <img class="profile-img" avatar [hash]="ownSession.user.gravatarHash">
      <h3>Meditating</h3>
      <h4>{{ ownSession.walkingLeft + ownSession.sittingLeft }}m left</h4>

      <md-progress-circle
        mode="determinate"
        [value]="round(100 * ((ownSession.sitting + ownSession.walking) - (ownSession.walkingLeft + ownSession.sittingLeft)) / (ownSession.sitting + ownSession.walking))"
        #progress
      >
      </md-progress-circle>

      <div class="progress" *ngIf="progress.value">{{ progress.value }}%</div>
      <div class="progress" *ngIf="!progress.value">
        <i class="e1a-pray"></i><br>
        Have a good session.
      </div>

      <p><button md-raised-button (click)="stop()">STOP</button></p>
    </div>
  </div>

  <form (submit)="sendMeditation($event)" class="flex" *ngIf="!ownSession">
    <md-input
      [(ngModel)]="sitting"
      name="sitting"
      placeholder="Sitting"
      max="120"
      type="number"
      class="fill meditation-input">
    </md-input>
    <md-input
      [(ngModel)]="walking"
      name="walking"
      placeholder="Walking"
      max="120"
      type="number"
      class="fill meditation-input">
    </md-input>
    <button
      md-mini-fab type="submit"
      [disabled]="!sitting && !walking"
    >
      <md-icon>alarm_on</md-icon>
    </button>
  </form>
</md-card>