mat-card.nopadding
  padding: 0

.no-shrink
  flex-shrink: 0

mat-card-title
  display: flex

.like-button
  width: 34px
  height: 34px
  font-size: 13px
  line-height: 13px
  margin-right: 10px

mat-card-title.padding
  margin-left: 10px

.left-hand
  margin-left: 2px
  margin-right: -1px

.right-hand
  margin-right: 2px
  margin-left: -1px

.like-button img
  height: 18px

.profile-img
  width: 160px
  border-radius: 80px

.status
  width: 200px
  display: flex
  margin: auto
  text-align: center

.status-single
  width: 100px

.status img
  height: 20px

.small-profile-img
  width: 32px
  border-radius: 16px

.center
  text-align: center

.progress
  flex: 1
  -webkit-flex: 1 auto
  position: relative
  top: -59px
  opacity: .6

.progress i
  font-size: 25px

mat-card-title
  margin-top: 10px
  font-size: 17px
  margin-bottom: 5px

[mat-mini-fab]
  min-width: 40px

button mat-spinner
  margin-left: 9px

mat-list
  padding-top: 0

.chart-wrapper
  text-align: center

.meditations-container
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.meditation-input
  margin-right: 10px

.meditation-row
  position: relative

mat-list .meditation-row:last-child mat-divider
  display: none

.commitment
  font-size: 0.8em
  padding: 20px 10px 10px 10px

  table
    margin-top: 4px

  td
    &:first-child
      text-transform: uppercase
      font-weight: bold

    &:last-child
      padding-left: 8px
      font-style: italic
