.appointment-list {
  display: flex;
  flex-flow: row wrap;
}

.appointment-list md-card {
  margin: 10px;
}

.appointment-addHours {
  padding-left: 15px;
}

.appointment-addHours b {
  text-transform: uppercase;
}
