<button
  mat-fab
  color="accent"
  [routerLink]="['new']"
>
  <mat-icon>add</mat-icon>
</button>

<div class="appointment-settings">
  <mat-slider
    min="-24"
    max="24"
    step="1"
    thumb-label="true"
    [(ngModel)]="increment"
    (change)="updateSettings('appointmentsIncrement', increment)"
    >
  </mat-slider>
  <b>{{ (increment >= 0 ? '+' : '') + increment }} h</b>

  <mat-form-field>
    <mat-select
      [(ngModel)]="timezone"
      (change)="updateSettings('appointmentsTimezone', timezone)"
      name="timezone"
      placeholder="Timezone"
    >
      <mat-option *ngFor="let tzone of timezones" [value]="tzone">
        {{ tzone }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="appointment-list">
  <mat-card *ngFor="let appointment of appointments">
    <mat-card-title>
      {{ printWeekDay(appointment.weekDay) }} -
      {{ appointment.hour | formatHour }} {{ zoneName }}
    </mat-card-title>

    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/admin/appointments/', appointment._id]"
      >
        Edit
      </button>

      <button
        mat-raised-button
        color="warning"
        (click)="delete($event, appointment)"
      >
        Remove
      </button>
    </mat-card-content>
  </mat-card>
</div>
