<button
  mat-fab
  color="accent"
  [routerLink]="['new']"
>
  <mat-icon>add</mat-icon>
</button>

<div class="appointment-settings">
  <mat-form-field class="timezone-select">
    <mat-select
      [(ngModel)]="timezone"
      (change)="updateSettings('appointmentsTimezone', timezone)"
      name="timezone"
      placeholder="Timezone"
    >
      <mat-option *ngFor="let tzone of timezones" [value]="tzone">
        {{ tzone }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="confirmDeletions">Warn before deleting an appointment</mat-checkbox>
</div>

<div class="appointment-list">
  <mat-card *ngFor="let hour of keys(appointmentData)">
    <button
      mat-mini-fab
      color="accent"
      class="edit"
      (click)="toggleEdit(hour)"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <mat-card-title>
      {{ hour | formatHour }} {{ zoneName }}
      <mat-spinner *ngIf="appointmentData[hour].loading" diameter="20"></mat-spinner>
      <mat-icon *ngIf="appointmentData[hour].success" class="success">check</mat-icon>
      <mat-icon *ngIf="appointmentData[hour].error" class="error">clear</mat-icon>
    </mat-card-title>

    <mat-card-subtitle *ngIf="appointmentData[hour].errorMsg" class="error">
      {{ appointmentData[hour].errorMsg }}
    </mat-card-subtitle>

    <form *ngIf="appointmentData[hour].edit" (submit)="updateHour($event, hour, newHour.value)">
      <mat-form-field>
        <input
          #newHour
          matInput
          name="hour"
          required
          placeholder="Hour (0 to 2359)"
          type="number"
          step="100"
          min="0"
          max="2359"
          [value]="hour"
        >
      </mat-form-field>
      <span>{{ newHour.value | formatHour }}</span>
      <button mat-mini-fab type="submit" [disabled]="!newHour.value" title="Update">
        <mat-icon *ngIf="!appointmentData[hour].editLoading">send</mat-icon>
        <mat-spinner *ngIf="appointmentData[hour].editLoading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
      </button>
    </form>

    <mat-card-content>
      <div *ngFor="let day of weekdays; let i = index" (click)="toggleDay($event, hour, i)">
        <mat-checkbox
          [checked]="appointmentData[hour].days.includes(i)"
        >{{ weekdays[i] }}</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>
