<mat-card>

  <form (submit)="submit()">
    <div class="flex row">
      <mat-form-field class="fill">
        <mat-select
          name="day"
          [(ngModel)]="appointment['weekDay']"
          placeholder="Please select day"
          style="margin-bottom: 15px;"
          required>
          <mat-option [value]="1">Monday</mat-option>
          <mat-option [value]="2">Tuesday</mat-option>
          <mat-option [value]="3">Wednesday</mat-option>
          <mat-option [value]="4">Thursday</mat-option>
          <mat-option [value]="5">Friday</mat-option>
          <mat-option [value]="6">Saturday</mat-option>
          <mat-option [value]="0">Sunday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field class="fill">
        <input
          #hourInput
          matInput
          [(ngModel)]="appointment['hour']"
          name="hour"
          required
          placeholder="Hour (0 to 2359)"
          type="number"
          step="10"
          min="0"
          max="2359"
        >
      </mat-form-field>
    </div>

    <div>{{ hourInput.value | formatHour }}</div>

    <p *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</p>

    <p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Save
      </button>

      <button mat-button [routerLink]="['/admin/appointments']">Cancel</button>
    </p>
  </form>
</mat-card>
