<md-card>

  <form (submit)="submit()">
    <div class="flex row">
      <md-select
        name="day"
        [(ngModel)]="appointment.weekDay"
        class="fill"
        placeholder="Please select day"
        style="margin-bottom: 15px;"
        required>
        <md-option [value]="1">Monday</md-option>
        <md-option [value]="2">Tuesday</md-option>
        <md-option [value]="3">Wednesday</md-option>
        <md-option [value]="4">Thursday</md-option>
        <md-option [value]="5">Friday</md-option>
        <md-option [value]="6">Saturday</md-option>
        <md-option [value]="0">Sunday</md-option>
      </md-select>
    </div>
    <div class="flex row">
      <md-input-container class="fill">
        <input
          mdInput
          [(ngModel)]="appointment.hour"
          name="hour"
          required
          placeholder="Hour (0 to 2359)"
          type="number"
          max="2359"
        >
      </md-input-container>
    </div>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Save
      </button>

      <button md-button [routerLink]="['/admin/appointments']">Cancel</button>
    </p>
  </form>
</md-card>
