<button
  md-fab
  color="accent"
  [routerLink]="['new']"
>
  <md-icon>add</md-icon>
</button>

<div class="appointment-settings">
  <md-slider
    min="-24"
    max="24"
    step="1"
    thumb-label="true"
    [(ngModel)]="increment"
    (change)="updateSettings('appointmentsIncrement', increment)"
    >
  </md-slider>
  <b>{{ (increment >= 0 ? '+' : '') + increment }} h</b>

  <md-select
    [(ngModel)]="timezone"
    (change)="updateSettings('appointmentsTimezone', timezone)"
    name="timezone"
    placeholder="Timezone"
    class="fill"
  >
    <md-option value="">- Select timezone -</md-option>
    <md-option *ngFor="let tzone of timezones" [value]="tzone">
      {{ tzone }}
    </md-option>
  </md-select>
</div>

<div class="appointment-list">
  <md-card *ngFor="let appointment of appointments">
    <md-card-title>
      {{ printWeekDay(appointment.weekDay) }} -
      {{ appointment.hour | formatHour }} {{ zoneName }}
    </md-card-title>

    <md-card-content>
      <button
        md-raised-button
        color="primary"
        [routerLink]="['/admin/appointments/', appointment._id]"
      >
        Edit
      </button>

      <button
        md-raised-button
        color="warning"
        (click)="delete($event, appointment)"
      >
        Remove
      </button>
    </md-card-content>
  </md-card>
</div>
