.appointment-list
  display: flex
  flex-flow: row wrap

  mat-card
    margin: 10px

.appointment-settings
  padding-left: 15px
  margin-top: 20px

.appointment-settings mat-slider
  width: 200px

.appointment-settings mat-select
  margin-left: 15px
  min-width: 150px

.appointment-ticker
  width: 100%
  text-align: center
  padding-top: 20px
  padding-bottom: 10px
