<button
  md-fab
  color="accent"
  [routerLink]="['new']"
>
  <md-icon>add</md-icon>
</button>

<div class="appointment-addHours">
  <b>Add hours:</b>
  <md-input-container>
    <input
      md-input
      [(ngModel)]="addHours"
      name="addHours"
      type="number"
      min="-24"
      max="24"
      class="fill"
    >
  </md-input-container>
  <button
    md-raised-button
    color="primary"
    [disabled]="!addHours"
    (click)="updateAll()"
  >
    Submit
  </button>

  <span *ngIf="updating && toUpdate !== updated">
    Updated {{ updated }} of {{ toUpdate }}.
  </span>
</div>

<div class="appointment-list">
  <md-card *ngFor="let appointment of appointments">
    <md-card-title>
      {{ printWeekDay(appointment.weekDay) }} -
      {{ printHour(appointment.hour) }} {{ zoneName }}
    </md-card-title>

    <md-card-content>
      <button
        md-raised-button
        color="primary"
        [routerLink]="['/admin/appointments/', appointment._id]"
      >
        Edit
      </button>

      <button
        md-raised-button
        color="warning"
        (click)="delete($event, appointment)"
      >
        Remove
      </button>
    </md-card-content>
  </md-card>
</div>
