.appointment-list
  display: flex
  flex-flow: row wrap

  md-card
    margin: 10px

.appointment-increment
  padding-left: 15px

.appointment-increment md-slider
  width: 200px

.appointment-ticker
  width: 100%
  text-align: center
  padding-top: 20px
  padding-bottom: 10px
