<md-card>
  <md-card-title>Testimonials</md-card-title>
  <md-card-subtitle>Here every user is given the opportunity to write down their experiences with their practice</md-card-subtitle>
  <form (submit)="sendTestimonial($event)" *ngIf="showForm" class="testimonial-form">
    <md-divider></md-divider>
    <div>
      <div class="flex row">
        <md-input-container class="fill">
          <textarea
            mdInput
            mdTextareaAutosize
            rows="10"
            name="inp-testimonial"
            [(ngModel)]="currentTestimonial"
            placeholder="Write your testimonial..."
          ></textarea>
        </md-input-container>
      </div>
      <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
        <md-icon>tag_faces</md-icon>
      </a>
    </div>
    <div>
      <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
    </div>
    <div>
      <md-checkbox
        name="inp-anonymous"
        [(ngModel)]="currentIsAnonymous"
      >
        Don't show my name publicly
      </md-checkbox>
    </div>
    <div>
      <button
        md-raised-button
        (click)="toggleShowForm($event)">
        Cancel
      </button>
      <button
        md-raised-button
        color="primary"
        type="submit"
        [disabled]="!currentTestimonial">
        Submit
      </button>
    </div>
  </form>
  <div [hidden]="showForm || !allowUser">
    <button
      md-raised-button
      color="primary"
      (click)="toggleShowForm()">
      Submit new testimonial
    </button>
  </div>

  <div [hidden]="allowUser">
    <md-divider></md-divider>
    <div class="info-msg">You've already submitted your testimonial</div>
  </div>

  <div *ngIf="sentTestimonial">
    <md-divider></md-divider>
    <div class="info-msg">
      Thank you for your testimonial. It will be added after it has been reviewed.
    </div>
  </div>
</md-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials list" (scroll)="scroll()">
  <md-list>
    <div *ngFor="let testimonial of testimonials" class="testimonial-row">
      <md-list-item>
        <img [routerLink]="['/profile', testimonial.user.username]" md-list-avatar avatar [hash]="testimonial.user.gravatarHash" [size]="40">
        <h3 md-line>
          <b>{{ testimonial.user.name }}</b>
          <span class="fill"></span>
          <span class="testimonial-date">{{ testimonial.createdAt | date }}</span>
        </h3>
        <p md-line>
          <span class="testimonial-text" [innerHTML]="testimonial.text|emoji|linky:{twitter:false}"></span>
        </p>
      </md-list-item>
      <md-divider class="testimonial-divider"></md-divider>
    </div>
  </md-list>
</div>
