<mat-card>
  <mat-card-title>Testimonials</mat-card-title>
  <mat-card-subtitle>Here every user is given the opportunity to write down their experiences with their practice</mat-card-subtitle>
  <form (submit)="sendTestimonial($event)" *ngIf="showForm" class="testimonial-form">
    <mat-divider></mat-divider>
    <div>
      <div class="flex row">
        <mat-form-field class="fill">
          <textarea
            matInput
            matTextareaAutosize
            rows="10"
            name="inp-testimonial"
            [(ngModel)]="currentTestimonial"
            placeholder="Write your testimonial..."
          ></textarea>
        </mat-form-field>
      </div>
      <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
        <mat-icon>tag_faces</mat-icon>
      </a>
    </div>
    <div>
      <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
    </div>
    <div>
      <mat-checkbox
        name="inp-anonymous"
        [(ngModel)]="currentIsAnonymous"
      >
        Don't show my name publicly
      </mat-checkbox>
    </div>
    <div>
      <button
        mat-raised-button
        (click)="toggleShowForm($event)">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!currentTestimonial">
        Submit
      </button>
    </div>
  </form>
  <div [hidden]="showForm || !allowUser">
    <button
      mat-raised-button
      color="primary"
      (click)="toggleShowForm()">
      Submit new testimonial
    </button>
  </div>

  <div [hidden]="allowUser">
    <mat-divider></mat-divider>
    <div class="info-msg">You've already submitted your testimonial</div>
  </div>

  <div *ngIf="sentTestimonial">
    <mat-divider></mat-divider>
    <div class="info-msg">
      Thank you for your testimonial. It will be added after it has been reviewed.
    </div>
  </div>
</mat-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials list" (scroll)="scroll()">
  <mat-list>
    <div *ngFor="let testimonial of testimonials" class="testimonial-row">
      <mat-list-item>
        <img *ngIf="testimonial.user._id" [routerLink]="testimonial.user.username ? ['/profile', testimonial.user.username] : ['/profile/id', testimonial.user._id]" mat-list-avatar avatar [hash]="testimonial.user.gravatarHash" [size]="40">
        <img *ngIf="!testimonial.user._id" mat-list-avatar avatar [hash]="" [size]="40">
        <h3 mat-line>
          <b>{{ testimonial.user.name }}</b>
          <span class="fill"></span>
          <span class="testimonial-date">{{ testimonial.createdAt | date }}</span>
        </h3>
        <p mat-line>
          <span class="testimonial-text" [innerHTML]="testimonial.text|emoji|linky:{twitter:false}"></span>
        </p>
      </mat-list-item>
      <mat-divider class="testimonial-divider"></mat-divider>
    </div>
  </mat-list>
</div>
