.tabs button {
  -webkit-flex: 1;
  flex: 1;
  padding-bottom: 10px;
  margin-bottom: -9px;
  border-bottom: 0;
  border-radius: 0;
}
.tabs .highlight {
  margin-bottom: -13px;
  border-bottom: 4px solid white;
}

.flexbox-parent, md-content, home {
  width: 100%;
  height: 100%;

  display: -webkit-flex !important; /* md-content hack */
  display: flex !important; /* md-content hack */
  flex-direction: column;

  justify-content: -webkit-flex-start; /* align items in Main Axis */
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

  background: rgba(255, 255, 255, .1);
}

.flexbox-item-grow {
  -webkit-flex: 1; /* same as flex: 1 1 auto; */
  flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: -webkit-flex-start; /* align items in Main Axis */
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
.fill-area.list {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;
}

.no-padding {
  padding: 0;
}

html, body{
  height: 100%;
  background: #F4FAFA;
}

/**
 * Sidenav
 */
 md-sidenav {
  width: 300px;
}
md-sidenav md-icon {
  margin-right: 10px;
}
md-list-item[disabled] {
  display: block;
  opacity: .4;
  cursor: move;
}

/**
 * Flexbox helper
 */
.fill{
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.home{
  -webkit-flex: 1;
  flex: 1;
}
md-content{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}