<md-content class="flexbox-parent">
  <md-sidenav-layout class="flexbox-parent">
    <md-sidenav #start>

      <md-toolbar color="primary">
        Menu
        <span class="fill"></span>
        <button md-icon-button (click)="start.close()">
          <md-icon class="icon-fix">close</md-icon>
        </button>
      </md-toolbar>

      <md-nav-list>
        <!-- Navigation items go here -->

        <a [routerLink]="['/']" (click)="start.close()" md-list-item>
          <md-icon>home</md-icon> Home
        </a>
        <a *ngIf="isAdmin" [routerLink]="['/admin']" (click)="start.close()" md-list-item>
          <md-icon>settings</md-icon> Administration
        </a>
        <a *ngIf="userId" [routerLink]="['/profile', userId]" (click)="start.close()" md-list-item>
          <md-icon>account_circle</md-icon> Profile
        </a>
        <a [routerLink]="['/schedule']" (click)="start.close()" md-list-item>
          <md-icon>schedule</md-icon> Schedule
        </a>
        <a md-list-item target="_blank" href="http://htm.sirimangalo.org"><md-icon>assignment_turned_in</md-icon> Guide</a>

        <!--<a [routerLink]="['/testimonials']" (click)="start.close()" md-list-item>
          <md-icon>thumb_up</md-icon> Testimonials
        </a>-->
        <md-list-item disabled><md-icon>thumb_up</md-icon> Testimonials</md-list-item>

        <md-list-item disabled><md-icon>format_quote</md-icon> Quote</md-list-item>
        <a [routerLink]="['/help']" (click)="start.close()" md-list-item><md-icon>help</md-icon> Help</a>
        <a md-list-item (click)="start.close(); logout()" *ngIf="isLoggedIn()">
          <md-icon>power_settings_new</md-icon> Logout
        </a>
      </md-nav-list>

    </md-sidenav>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()" *ngIf="isLoggedIn()">
        <md-icon>menu</md-icon>
      </button>
      <span *ngIf="!title">{{ name }}</span>
      <span *ngIf="title">{{ title }}</span>
    </md-toolbar>

    <!-- Content goes here -->
    <router-outlet></router-outlet>

  </md-sidenav-layout>
</md-content>
