.meditation-text {
  opacity: .5;
}

.meditation-time {
  font-style: italic;
  font-size: 13px;
}

[md-list-avatar] {
  min-width: 40px;
  min-height: 40px;
}

.status {
  position: absolute;
  right: 60px;
  top: 24px;
}

.status img {
  height: 20px;
  margin-top: 2px;
  margin-right: 3px;
}

.like-button {
  position: absolute;
  right: 17px;
  top: 20px;
  width: 34px;
  height: 34px;
  font-size: 13px;
  line-height: 13px;
}

.smaller-like-button .left-hand {
  margin-right: -3px;
}

.smaller-like-button .right-hand {
  margin-left: -3px;
}

button md-spinner {
  margin-left: 9px;
}

.like-button img {
  height: 18px;
}

.like {
  position: relative;
  top: -3px;
}