<md-list-item>
    <img [routerLink]="['/profile', meditation.user._id]" md-list-avatar avatar [hash]="meditation.user.gravatarHash" [size]="40">
    <h3 md-line>
      <b class="meditation-name"><a [routerLink]="['/profile', meditation.user._id]">{{ meditation.user.name }}</a></b>
      <span class="fill"></span>
      <span
        class="meditation-time"
        *ngIf="meditation.walkingLeft + meditation.sittingLeft > 0"
      >
        {{ meditation.walkingLeft + meditation.sittingLeft }}m left
      </span>
    </h3>
    <p md-line>
      <span class="meditation-text">
        walking
        {{ meditation.walking }}m,

        sitting
        {{ meditation.sitting }}m
      </span>
    </p>
    <span class="status">
      <img src="/assets/img/sitting.svg" *ngIf="meditation.status === 'sitting'">
      <md-icon *ngIf="meditation.status === 'walking'">directions_walk</md-icon>
    </span>
    <button
      md-mini-fab
      color="primary"
      (click)="like(meditation)"
      class="like-button"
      [class.smaller-like-button]="meditation.likes > 9"
      [disabled]="meditation.user._id === getUserId() || meditation.sendingLike || meditation.alreadyLiked"
    >
      <span *ngIf="!meditation.sendingLike" class="like-wrapper">
        <img src="assets/img/left_hand.png" class="left-hand">
        <span *ngIf="meditation.likes" class="like">{{ meditation.likes }}</span>
        <img src="assets/img/right_hand.png" class="right-hand">
      </span>
       <md-spinner *ngIf="meditation.sendingLike" class="in-button-spinner"></md-spinner>
    </button>
</md-list-item>
