<md-toolbar color="primary" class="tabs">
  <button md-button [class.highlight]="currentTab === 'table'" [routerLink]="['/schedule', {tab: 'table'}]">
    TABLE
  </button>
  <button md-button [class.highlight]="currentTab === 'list'" [routerLink]="['/schedule', {tab: 'list'}]">
    LIST
  </button>
</md-toolbar>

<md-card *ngIf="rightBeforeAppointment" class="live-appointment">
  <h3>You can start the meeting via this button:</h3>
  <div id="hangout-button"></div>
</md-card>

<div *ngIf="!loadedInitially" class="loader">
  <md-spinner></md-spinner>
</div>

<md-card class="first-card" *ngIf="loadedInitially">
  <table class="appointment-table" *ngIf="currentTab === 'table'">
    <tr>
      <th>Hour</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>
    <tr *ngFor="let hour of appointments.hours">
      <td>
        {{ getLocalHour(hour) }}<br />
        <small>({{ getUtcHour(hour) }} UTC)</small>
      </td>
      <td *ngFor="let day of [1, 2, 3, 4, 5, 6, 0]">
        <span *ngFor="let app of appointments.appointments">
          <span *ngIf="app.hour == hour && app.weekDay == day">
            <a *ngIf="app.user && app.user._id !== getUserId()" class="taken-appointment"
               [class.admin-appointment]="isAdmin"
               (click)="removeRegistration($event, app)"
            >
              <span class="appointment-username">{{ app.user.name }}</span>
              <span class="appointment-taken">taken</span>
            </a>
            <a href="#"
              *ngIf="app.user && app.user._id === getUserId()"
              class="my-appointment"
              (click)="toggleRegistration($event, app)"
            >
              <span class="appointment-username">{{ app.user.name }}</span>
              <span class="appointment-taken">my</span>
            </a>
            <a href="#"
              *ngIf="!app.user"
              class="free-appointment"
              (click)="toggleRegistration($event, app)"
            >
              free
            </a>
          </span>
        </span>
      </td>
    </tr>
  </table>

  <md-list *ngIf="currentTab === 'list'">
    <div *ngFor="let app of appointments.appointments; let i = index">
      <h4
        *ngIf="!appointments.appointments.hasOwnProperty(i - 1) || app.weekDay !== appointments.appointments[i - 1].weekDay">- {{ weekDay(app.weekDay) }}
      </h4>
      <md-list-item class="appointment-row" *ngIf="app.user">
        <img [routerLink]="['/profile', app.user._id]" md-list-avatar avatar [hash]="app.user.gravatarHash" [size]="40">
        <h3 md-line>
          <b><a [routerLink]="['/profile', app.user._id]">{{ app.user.name }}</a></b>
        </h3>
        <p md-line>
          {{ getLocalHour(app.hour) }} ({{ printHour(app.hour) }} UTC)
        </p>
      </md-list-item>
    </div>
  </md-list>

</md-card>
<md-card class="primary-card">
  <ul>
    <li>
      This page is for those practicing formal meditation daily who would like to undertake a formal meditation course over the Internet.
    </li>
    <li>
      Book an appointment using the table below by clicking on the appropriate box.
    </li>
    <li>
      When the time for your meeting arrives, you will see a green button in a yellow box below this text inviting you to enter a one-on-one video conversation using <a href="https://hangouts.google.com/">Google Hangouts</a> (please visit <a href="https://hangouts.google.com/">https://hangouts.google.com/</a> to make sure you are able to use this functionality.)
    </li>
    <li>
      <b>You must initiate the hangout yourself</b> by pressing the button below and inviting the teacher when prompted to do so. You will not receive a call from the teacher.
    </li>
    <li>
      <b>Please note that if you miss an appointment without notifying us, your reservation will be cancelled.</b>
    </li>
    <li>
      You will need headphones and a microphone, and preferably a webcam as well.
    </li>
  </ul>
</md-card>
