md-list md-list-item [md-line] {
    display: flex;
}

md-list p[md-line] {
  white-space: normal;
}

.messages {
    margin-top: 10px;
    height: 300px;
    padding: 5px;
    overflow-y: scroll;
}

.chat-text {
    margin-top: 5px;
}

.chat-time {
    opacity: .5;
    font-size: 12px;
}

.message-input {
    margin-right: 10px;
}

.message-divider {
    margin-right: -5px;
    margin-left: -5px;
}

.messages>div:last-child .message-divider {
    display: none;
}

.old-chat {
    opacity: .7;
}