<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list">
  <div *ngIf="!loadedInitially" class="loader">
    <md-spinner></md-spinner>
  </div>

  <md-list>
    <button
      *ngIf="loadedInitially && !noMorePages"
      md-raised-button
      (click)="loadMessages(loadedPage + 1)"
      [disabled]="loadingPage"
      class="load-more-button"
    >
      <md-spinner *ngIf="loadingPage" class="in-button-spinner"></md-spinner>
      LOAD MORE
    </button>

    <div *ngFor="let message of messages" class="message-row">
      <message-list-entry [message]="message"></message-list-entry>
    </div>
  </md-list>
</div>

<md-card>
  <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
  <form (submit)="sendMessage($event)" class="flex">
    <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
      <md-icon>tag_faces</md-icon>
    </a>
    <md-input name="message" [(ngModel)]="currentMessage" placeholder="Type message..." class="fill message-input" #message maxlength="1000" autocomplete="off" [disabled]="sending">
      <md-hint align="end" *ngIf="message.characterCount > 0">{{ message.characterCount }} / {{ message.maxlength }}</md-hint>
    </md-input>
    <button md-mini-fab type="submit" [disabled]="!currentMessage || sending" title="Send message">
      <md-icon *ngIf="!sending">send</md-icon>
      <md-spinner *ngIf="sending" class="in-button-spinner"></md-spinner>
    </button>
  </form>
</md-card>