<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list" (scroll)="scroll()">
  <div *ngIf="!loadedInitially" class="loader">
    <md-spinner></md-spinner>
  </div>

  <md-list>
    <div *ngFor="let message of messages" class="message-row"
        [class.message-question]="isQuestion(message.text) && !message.answered"
        [class.message-question-admin]="isAdmin"
        [class.message-hide]="showQuestionsOnly"
        (click)="markAsAnswered(message)"
    >
      <md-list-item>
        <img *ngIf="message.user" [routerLink]="['/profile', message.user._id]" md-list-avatar avatar [hash]="message.user.gravatarHash" [size]="40">
        <img *ngIf="!message.user" md-list-avatar avatar [hash]="null" [size]="40">
        <h3 md-line>
          <b *ngIf="message.user" class="chat-name"><a [routerLink]="['/profile', message.user._id]">{{ message.user.name }}</a></b>
          <b *ngIf="!message.user">Deleted User</b>
          <span class="answered-tag info-answered" [hidden]="!message.answered">answered</span>
          <span class="fill"></span>
          <span class="chat-time">{{ message.ago }}</span>
        </h3>
        <p md-line>
          <span class="chat-text" [innerHTML]="message.text|emoji|linky:{twitter:false}"></span>
        </p>
      </md-list-item>
      <md-divider class="message-divider"></md-divider>
    </div>
  </md-list>
  <div class="fill info-questions-only" [hidden]="!showQuestionsOnly">QUESTIONS ONLY MODE</div>
</div>

<md-card>
  <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
  <form (submit)="sendMessage($event)" class="flex">
    <a href="#" (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
      <md-icon>tag_faces</md-icon>
    </a>
    <md-input name="message" [(ngModel)]="currentMessage" placeholder="Type message..." class="fill message-input" #message maxLength="1000" autoComplete="off" [disabled]="sending">
      <md-hint align="end" *ngIf="message.characterCount > 0">{{ message.characterCount }} / {{ message.maxLength }}</md-hint>
    </md-input>
    <button md-mini-fab type="submit" [disabled]="!currentMessage || sending" title="Send message">
      <md-icon *ngIf="!sending">send</md-icon>
      <md-spinner *ngIf="sending" class="in-button-spinner"></md-spinner>
    </button>
    <div class="vertical-separator"></div>
    <button
      md-mini-fab
      [color]="showQuestionsOnly ? 'warn' : 'primary'"
      type="button"
      title="Show questions only"
      (click)="toggleQuestions()"
    >
      <md-icon>question_answer</md-icon>
    </button>
  </form>
</md-card>