<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list">
  <div *ngIf="!(initiallyLoaded$ | async) && (loading$ | async) && (page$ | async) == 0" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-list>
    <button
      *ngIf="(initiallyLoaded$ | async) && !(noPagesLeft$ | async)"
      mat-raised-button
      (click)="loadNextPage()"
      [disabled]="loading$ | async"
      class="load-more-button"
    >
      <mat-spinner
        *ngIf="loading$ | async"
        [diameter]="22"
        [strokeWidth]="2"
        class="in-button-spinner"
      ></mat-spinner>

      LOAD MORE
    </button>

    <div *ngFor="let message of messages$ | async; trackBy: trackById" class="message-row">
      <message-list-entry
        (menuOpened)="menuOpen = true"
        (menuClosed)="menuOpen = false"
        (onDelete)="delete($event)"
        (onUpdate)="update($event)"
        [menuOpen]="menuOpen"
        [message]="message"
        [admin]="isAdmin"
      ></message-list-entry>
    </div>
  </mat-list>
</div>

<mat-card>
  <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
  <form (submit)="sendMessage($event)" class="flex" [formGroup]="form">
    <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
      <mat-icon>tag_faces</mat-icon>
    </a>
    <mat-form-field>
      <textarea
        matInput
        matTextareaAutosize
        name="message"
        formControlName="message"
        placeholder="Type message..."
        class="fill message-input"
        #message
        #messageAutoSize="matTextareaAutosize"
        maxlength="1000"
        autocomplete="off"
        rows="1"
        (keydown.enter)="sendMessage($event)"
        (keydown.tab)="autocomplete($event)"
      ></textarea>
      <mat-hint align="end" *ngIf="message.value.length > 0">{{ message.value.length }} / 1000</mat-hint>
    </mat-form-field>
    <button mat-mini-fab type="submit" [disabled]="!message.value || (posting$ | async)" title="Send message">
      <mat-icon *ngIf="!(posting$ | async)">send</mat-icon>
      <mat-spinner *ngIf="(posting$ | async)" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
    </button>
  </form>
</mat-card>
