<div #messageList class="flexbox-item-grow fill-area fill-area-content messages list">
  <div *ngIf="!loadedInitially" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-list>
    <button
      *ngIf="loadedInitially && !noMorePages"
      mat-raised-button
      (click)="loadMessages(loadedPage + 1)"
      [disabled]="loadingPage"
      class="load-more-button"
    >
      <mat-spinner *ngIf="loadingPage" diameter="22" strokeWidth="2" class="in-button-spinner"></mat-spinner>
      LOAD MORE
    </button>

    <div *ngFor="let message of messages; trackBy: trackById" class="message-row">
      <message-list-entry
        (menuOpened)="menuOpen = true"
        (menuClosed)="menuOpen = false"
        [menuOpen]="menuOpen"
        [message]="message"
        [admin]="isAdmin"
      ></message-list-entry>
    </div>
  </mat-list>
</div>

<mat-card>
  <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
  <form (submit)="sendMessage($event)" class="flex">
    <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
      <mat-icon>tag_faces</mat-icon>
    </a>
    <mat-form-field>
      <textarea
        matInput
        matTextareaAutosize
        name="message"
        [(ngModel)]="currentMessage"
        placeholder="Type message..."
        class="fill message-input"
        #message
        #messageAutoSize="matTextareaAutosize"
        maxlength="1000"
        autocomplete="off"
        [disabled]="sending"
        rows="1"
        (keydown)="enterMessage($event)"
      ></textarea>
      <mat-hint align="end" *ngIf="message.value.length > 0">{{ message.value.length }} / 1000</mat-hint>
    </mat-form-field>
    <button mat-mini-fab type="submit" [disabled]="!currentMessage || sending" title="Send message">
      <mat-icon *ngIf="!sending">send</mat-icon>
      <mat-spinner *ngIf="sending" diameter="22" strokeWidth="2" class="in-button-spinner"></mat-spinner>
    </button>
  </form>
</mat-card>
