md-list md-list-item [md-line] {
  display: flex;
  padding-top: 0;
}

md-list md-list-item.md-2-line .md-list-item, md-list a[md-list-item].md-2-line .md-list-item, md-nav-list md-list-item.md-2-line .md-list-item, md-nav-list a[md-list-item].md-2-line .md-list-item {
  min-height: 72px;
  height: auto;
}

md-list p[md-line] {
  white-space: normal;
}

.message-row {
  flex: 1;
}

.messages {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-text {
  word-wrap: break-word;
  margin-top: 5px;
  width: 100%;
}

.chat-time {
  opacity: .5;
  font-size: 12px;
}

.message-input {
  margin-right: 10px;
}

.emoji-btn {
  margin-right: 10px;
  margin-top: 15px;
}

.message-divider {
  margin-right: -5px;
  margin-left: -5px;
}

.messages>div:last-child .message-divider {
  display: none;
}

.old-chat {
  opacity: .7;
}