.messages
  height: 300px
  overflow-x: hidden

.user-info
  flex-direction: column
  border-bottom: 1px solid #ccc
  padding: 10px

  div
    display: flex
    align-items: center
    margin-bottom: 10px

  div:last-child
    margin-bottom: 0

  div > *
    margin-right: 10px

  img
    width: 40px
    height: 40px
    border-radius: 50%

mat-list
  width: 100%

.message-form
  border-top: 1px solid #ccc
  display: flex
  padding: 10px
