<mat-card *ngIf="user">

  <form (submit)="submit()" #userForm="ngForm">

    <user-form [(model)]="user" [admin]="true"></user-form>

    <p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading || !userForm.form.valid"
      >
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Save
      </button>
    </p>
  </form>
</mat-card>

<mat-card *ngIf="!user" class="loader">
  <mat-spinner></mat-spinner> Loading user...
</mat-card>