:host
  height: 100%

.center
  text-align: center
  padding-top: 70px

.profile-img
  border-radius: 50%

.started-no
  font-size: 0.9em
  color: grey

.started-yes
  font-size: 0.9em
  color: green

/**
 * Mobile Style
 */
@media screen and (max-width: 850px)
  .flex-row
    -webkit-flex-direction: column
    flex-direction: column
