<md-card>
  <md-card-title>Add a new commitment</md-card-title>
  <form (submit)="submit()">
    <div class="flex row">
      <md-input-container class="fill">
        <input
          mdInput
          [(ngModel)]="commitment.minutes"
          name="minutes"
          placeholder="Minutes to meditate"
          required
          type="number"
          min="1"
        >
      </md-input-container>
    </div>
    <div class="flex row">
      <md-select
        [(ngModel)]="commitment.type"
        name="type"
        class="fill"
        placeholder="Type of commitment">
        <md-option value="daily">daily</md-option>
        <md-option value="weekly">weekly</md-option>
        <md-option value="monthly">monthly</md-option>
      </md-select>
    </div>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Save
      </button>

      <button md-button [routerLink]="['/admin/commitments']">Cancel</button>
    </p>
  </form>
</md-card>
