<button
  mat-fab
  color="accent"
  [routerLink]="['new']"
>
  <mat-icon>add</mat-icon>
</button>

<div class="commitment-list">
  <mat-card *ngFor="let commitment of commitments">
    <mat-card-title>
      {{ commitment.minutes }} minutes of {{ commitment.type }} meditation
    </mat-card-title>

    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/admin/commitments/', commitment._id]"
      >
        Edit
      </button>

      <button
        mat-raised-button
        color="warning"
        (click)="delete($event, commitment)"
      >
        Remove
      </button>
    </mat-card-content>
  </mat-card>
</div>