<mat-card>
  <mat-card-title>Add a new commitment</mat-card-title>
  <form (submit)="submit()">
    <div class="flex row">
      <mat-form-field class="fill">
        <input
          matInput
          [(ngModel)]="commitment.minutes"
          name="minutes"
          placeholder="Minutes to meditate"
          required
          type="number"
          min="1"
        >
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field class="fill">
        <mat-select
          [(ngModel)]="commitment.type"
          name="type"
          placeholder="Type of commitment">
          <mat-option value="daily">daily</mat-option>
          <mat-option value="weekly">weekly</mat-option>
          <mat-option value="monthly">monthly</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <mat-spinner *ngIf="loading" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        Save
      </button>

      <button mat-button [routerLink]="['/admin/commitments']">Cancel</button>
    </p>
  </form>
</mat-card>
