md-icon
  margin-right: 5px

span
  display: inline-block

[md-icon-button]
  width: 60px
  border-radius: 0

a
  text-decoration: none

[md-list-avatar]
  min-width: 40px
  min-height: 40px
  border: 3px solid transparent

flag
  margin-left: 5px
  margin-right: 5px

.analytics-list
  text-align: center
  display: flex;
  flex-flow: row wrap;

.analytics-list md-card
  margin: 10px
  min-width: 125px;


.timezone-chart
  max-width: 300px
  max-height: 300px

.history
  max-width: 1000px
  max-height: 800px

canvas
  margin-top: 80px

.timezone-chart
  width: 100%
  text-align: center

.timezone-chart canvas
  width: 400px
  height: 400px
