select
  max-width: 250px

.row md-input-container
  margin-bottom: 20px

.row md-checkbox, .row md-select
  margin-bottom: 42px

md-input-container /deep/ .mat-input-wrapper
  margin: 16px 0 22px 0

small
  display: block

.bell-btn
  width: 25px
  height: 25px
  margin-left: 10px

.bell-btn md-icon
  margin-top: -7px

.admin-section
  border-radius: 5px
  border: 2px solid red
  padding: 15px

.admin-section > h3
  margin-top: 0
  text-transform: uppercase

.admin-section > h4
  margin-bottom: 4px
