<div *ngIf="!notFound">
  <div class="center" *ngIf="profile">
    <img class="profile-img" [src]="profile.profileImageUrl ? profile.profileImageUrl : '/assets/img/profile_200.jpg'">
    <h3>{{ profile?.local?.username }}</h3>
  </div>

  <md-card *ngIf="profile">

    <blockquote *ngIf="profile.description">
      {{ profile.description }}
    </blockquote>

    <table>
      <tr *ngIf="profile.website">
        <th>Website</th>
        <td>{{ profile.website }}</td>
      </tr>
      <tr *ngIf="profile.local.email">
        <th>Email</th>
        <td>{{ profile.local.email }}</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>{{ profile.country }}</td>
      </tr>
    </table>
  </md-card>

  <md-card *ngIf="!profile">
    Loading profile...
  </md-card>
</div>

<div *ngIf="notFound">
  <h3>Profile not found!</h3>

  <p>The requested profile cannot be found.</p>
</div>