<md-card *ngIf="profile">

  <form (submit)="save()">
    <div class="flex row">
      <md-input
        [(ngModel)]="profile.website"
        name="website"
        placeholder="Website"
        class="fill"
      ></md-input>
    </div>
    <div class="flex row">
      <md-input
        [(ngModel)]="profile.country"
        name="country"
        placeholder="Country"
        class="fill"
      >
      </md-input>
    </div>

    <div class="flex row">
      <md-input
        [(ngModel)]="profile.profileImageUrl"
        name="image"
        placeholder="URL to Profile Image"
        class="fill"
      ></md-input>
    </div>
    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="profile.description"
        name="description"
        placeholder="Description"
      ></md-input>
    </div>

    <div class="flex">
      <md-checkbox [(ngModel)]="profile.showEmail" name="showMail">
        Show email publicly ({{ profile.local.email }})
      </md-checkbox>
    </div>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Update profile
      </button>
      <span *ngIf="updated">You're profile has been updated.</span>
    </p>
  </form>
</md-card>

<md-card *ngIf="!profile">
  <md-spinner></md-spinner> Loading profile...
</md-card>