<md-card *ngIf="profile">

  <form (submit)="save()" #profileForm="ngForm">

    <user-form [(model)]="profile"></user-form>

    <p>
      Your profile image will be managed by Gravatar.com. Please read the section
      about it <a [routerLink]="['/help']">in the help</a> if you want to change it.
    </p>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading || !profileForm.form.valid"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Update profile
      </button>
      <span *ngIf="updated">Your profile has been updated.</span>
    </p>
  </form>
</md-card>

<md-card *ngIf="!profile" class="loader">
  <md-spinner></md-spinner> Loading profile...
</md-card>