<md-card *ngIf="profile">

  <form (submit)="save()" #profileForm="ngForm">

    <user-form [(model)]="profile"></user-form>

    <p>
      Profile images can be set with <a href="https://en.gravatar.com/" target="_BLANK">Gravatar</a> (more about this <a href="https://github.com/Sirimangalo/meditation-plus-angular/wiki/Profile" target="_BLANK">here</a>).
    </p>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading || !profileForm.form.valid"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Update profile
      </button>
      <span *ngIf="updated">Your profile has been updated.</span>
      <span *ngIf="error">There was an error saving your profile.</span>
    </p>
  </form>
</md-card>

<md-card *ngIf="!profile" class="loader">
  <md-spinner></md-spinner> Loading profile...
</md-card>
