<div *ngIf="!notFound">
  <div class="center" *ngIf="profile">
    <img class="profile-img" avatar [hash]="profile.gravatarHash">
    <h3>{{ profile.name }}</h3>

    <badge [badges]="profile.meditations.consecutiveDays"></badge>
  </div>

  <md-card *ngIf="profile">
    <button
      md-fab
      color="accent"
      [routerLink]="['/profile']"
      *ngIf="profile && profile._id === userId"
    >
      <md-icon>edit</md-icon>
    </button>

    <blockquote *ngIf="profile.description">
      {{ profile.description }}
    </blockquote>

    <table>
      <tr *ngIf="profile.website">
        <th>Website</th>
        <td [innerHTML]="escape(profile.website)|linky"></td>
      </tr>
      <tr *ngIf="profile.local.email">
        <th>Email</th>
        <td>{{ profile.local.email }}</td>
      </tr>
      <tr *ngIf="profile.country">
        <th>Country</th>
        <td>
          <img src="/assets/img/flags/16/{{ profile.country.toLowerCase() }}.png">
        </td>
      </tr>
    </table>

    <p><br></p>

    <md-card-title>Statistics</md-card-title>

    <table>
      <tr>
        <th>Number of sessions</th>
        <td>{{ profile.meditations.numberOfSessions }}</td>
      </tr>
      <tr>
        <th>Total meditation time</th>
        <td>{{ profile.meditations.totalMeditationTime }}</td>
      </tr>
      <tr>
        <th>Average session time</th>
        <td>{{ profile.meditations.averageSessionTime }}</td>
      </tr>
      <tr>
        <th>Current consecutive days</th>
        <td>{{ profile.meditations.currentConsecutiveDays }}</td>
      </tr>
    </table>

    <p><br></p>

    <md-card-title>Last 10 days</md-card-title>

    <div class="chart-wrapper">
      <base-chart
        class="chart"
        [datasets]="chartData.lastDays"
        [labels]="chartLabels.lastDays"
        [options]="chartOptions"
        [legend]="false"
        chartType="bar"
      >
      </base-chart>
    </div>

    <md-card-title>Last 10 weeks</md-card-title>

    <div class="chart-wrapper">
      <base-chart
        class="chart"
        [datasets]="chartData.lastWeeks"
        [labels]="chartLabels.lastWeeks"
        [options]="chartOptions"
        [legend]="false"
        chartType="bar"
      >
      </base-chart>
    </div>

    <md-card-title>Last 10 months</md-card-title>

    <div class="chart-wrapper">
      <base-chart
        class="chart"
        [datasets]="chartData.lastMonths"
        [labels]="chartLabels.lastMonths"
        [options]="chartOptions"
        [legend]="false"
        chartType="bar"
      >
      </base-chart>
    </div>
  </md-card>

  <md-card *ngIf="!profile" class="loader">
    <md-spinner></md-spinner> Loading profile...
  </md-card>
</div>

<md-card *ngIf="notFound">
  <md-card-title>Profile not found!</md-card-title>

  <p>The requested profile cannot be found.</p>
</md-card>