<div *ngIf="!notFound">
  <div class="center" *ngIf="profile">
    <img class="profile-img" avatar [hash]="profile.gravatarHash">
    <h3>{{ profile.name }} <small>@{{ profile.username }}</small></h3>

    <badge
      *ngIf="!profile.hideStats || profile._id === userId"
      [badges]="profile.meditations.consecutiveDays">
    </badge>
  </div>

  <md-card *ngIf="profile">
    <!-- User Edit Button -->
    <button
      md-fab
      color="accent"
      [routerLink]="['/profile']"
      *ngIf="profile && profile._id === userId"
    >
      <md-icon>edit</md-icon>
    </button>

    <!-- Admin Edit Button -->
    <button
      md-fab
      color="accent"
      [routerLink]="['/admin/users', profile._id]"
      *ngIf="profile && isAdmin"
    >
      <md-icon>edit</md-icon>
    </button>

    <!-- Admin Delete Button -->
    <button
      md-fab
      class="left-fab"
      color="warn"
      (click)="delete()"
      *ngIf="profile && isAdmin"
    >
      <md-icon>delete</md-icon>
    </button>

    <blockquote *ngIf="profile.description">
      {{ profile.description }}
    </blockquote>

    <table>
      <tr *ngIf="profile.website">
        <th>Website</th>
        <td [innerHTML]="escape(profile.website)|linky"></td>
      </tr>
      <tr *ngIf="profile.local.email">
        <th>Email</th>
        <td>{{ profile.local.email }}</td>
      </tr>
      <tr *ngIf="profile.country">
        <th>Country</th>
        <td>
          <flag [countryCode]="profile.country"></flag>
        </td>
      </tr>
    </table>

    <offline-meditation *ngIf="profile && profile._id === userId" (reload)="loadChart()"></offline-meditation>

    <div *ngIf="!profile.hideStats || profile._id === userId">
      <p><br></p>

      <md-card-title>Statistics</md-card-title>

      <div *ngIf="!profile.meditations.numberOfSessions">
        <p>The person has not meditated yet.</p>
      </div>

      <div *ngIf="profile.meditations.numberOfSessions">
        <table>
          <tr>
            <th>Number of sessions</th>
            <td>{{ profile.meditations.numberOfSessions }}</td>
          </tr>
          <tr>
            <th>Total meditation time</th>
            <td>{{ formatNoDays(profile.meditations.totalMeditationTime) }}</td>
          </tr>
          <tr>
            <th>Average session time</th>
            <td>{{ profile.meditations.averageSessionTime }} minutes</td>
          </tr>
          <tr>
            <th>Current consecutive days</th>
            <td>{{ profile.meditations.currentConsecutiveDays }}</td>
          </tr>
        </table>

        <p><br></p>

        <md-card-title>Last 10 days</md-card-title>

        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="chartData.lastDays"
            [labels]="chartLabels.lastDays"
            [options]="chartOptions"
            [legend]="false"
            chartType="bar"
          >
          </canvas>
        </div>

        <md-card-title>Last 10 weeks</md-card-title>

        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="chartData.lastWeeks"
            [labels]="chartLabels.lastWeeks"
            [options]="chartOptions"
            [legend]="false"
            chartType="bar"
          >
          </canvas>
        </div>

        <md-card-title>Last 10 months</md-card-title>

        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="chartData.lastMonths"
            [labels]="chartLabels.lastMonths"
            [options]="chartOptions"
            [legend]="false"
            chartType="bar"
          >
          </canvas>
        </div>
      </div>
    </div>
  </md-card>

  <md-card *ngIf="!profile" class="loader">
    <md-spinner></md-spinner> Loading profile...
  </md-card>
</div>

<md-card *ngIf="notFound">
  <md-card-title>Profile not found!</md-card-title>

  <p>The requested profile cannot be found.</p>
</md-card>