<md-card *ngIf="profile">

  <form (submit)="save()" #profileForm="ngForm">
    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="profile.name"
        name="name"
        placeholder="Name"
        maxLength="30"
        required
        #name
      >
        <md-hint align="end" *ngIf="name.characterCount > 0">{{ name.characterCount }} / 30</md-hint>
      </md-input>
    </div>

    <div class="flex row">
      <md-input
        [(ngModel)]="profile.website"
        name="website"
        placeholder="Website"
        maxLength="100"
        class="fill"
        #website
      >
        <md-hint align="end" *ngIf="website.characterCount > 0">{{ website.characterCount }} / 100</md-hint>
      </md-input>
    </div>
    <div class="flex row">
      <select
        [(ngModel)]="profile.country"
        name="country"
        placeholder="Country"
        class="fill"
      >
        <option>- Select country -</option>
        <option *ngFor="let country of countryList" value="{{ country.code }}">
          {{ country.name }}
        </option>
      </select>
    </div>

    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="profile.description"
        name="description"
        maxLength="300"
        placeholder="Description"
        #description
      >
        <md-hint align="end" *ngIf="description.characterCount > 0">{{ description.characterCount }} / 300</md-hint>
      </md-input>
    </div>

    <div class="flex row">
      <md-checkbox [(ngModel)]="profile.showEmail" name="showMail">
        Show email publicly ({{ profile.local.email }})
      </md-checkbox>
    </div>

    <div class="flex row">
      <md-input
        class="fill"
        name="newPassword"
        minlength="8"
        #pass="ngModel"
        [(ngModel)]="profile.newPassword"
        type="password"
        placeholder="New Password (min 8)"
        [dividerColor]="(pass.valid || pass.pristine) ? 'primary' : 'warn'"
      ></md-input>
    </div>

    <div class="flex row">
      <md-input
        class="fill"
        [(ngModel)]="profile.newPasswordRepeat"
        name="newPasswordRepeat"
        minlength="8"
        #passRpt="ngModel"
        type="password"
        placeholder="New Password (repeat)"
        [dividerColor]="(passRpt.valid || passRpt.pristine) ? 'primary' : 'warn'"
      ></md-input>
    </div>

    <p>
      Your profile image will be managed by Gravatar.com. Please read the section
      about it <a [routerLink]="['/help']">in the help</a> if you want to change it.
    </p>

    <p>
      <button
        md-raised-button
        type="submit"
        color="primary"
        [disabled]="loading || !profileForm.form.valid"
      >
        <md-spinner *ngIf="loading" class="in-button-spinner"></md-spinner>
        Update profile
      </button>
      <span *ngIf="updated">Your profile has been updated.</span>
    </p>
  </form>
</md-card>

<md-card *ngIf="!profile" class="loader">
  <md-spinner></md-spinner> Loading profile...
</md-card>