<md-card>
  <md-card-title>Testimonials</md-card-title>
  <md-card-subtitle>Here every user is given the opportunity to write down their experiences with their practice</md-card-subtitle>
  <form (submit)="sendTestimonial($event)" *ngIf="showForm" class="testimonial-form">
    <md-divider></md-divider>
    <div>
      <md-input-container>
        <textarea 
          rows="6" 
          cols="50" 
          name="inp-testimonial" 
          [(ngModel)]="currentTestimonial" 
          placeholder="Write your testimonial..."
        >
        </textarea>
      </md-input-container>
      <a (click)="showEmojiSelect=!showEmojiSelect" class="emoji-btn">
        <md-icon>tag_faces</md-icon>
      </a>
    </div>
    <div>
      <emoji-select *ngIf="showEmojiSelect" (selected)="emojiSelect($event)"></emoji-select>
    </div>
    <div>
      <md-checkbox 
        name="inp-anonymous" 
        [(ngModel)]="currentIsAnonymous"
      >
        Don't show my name publicly
      </md-checkbox>
    </div>
    <div>
      <button 
        md-raised-button 
        color="primary" 
        (click)="toggleShowForm()">
        Cancel
      </button>
      <button 
        md-raised-button 
        color="primary" 
        type="submit" 
        [disabled]="!currentTestimonial">
        Submit
      </button>
    </div>
  </form>
  <div [hidden]="showForm">
    <button 
      md-raised-button 
      color="primary" 
      (click)="toggleShowForm()">
      Submit new testimonial
    </button>
  </div>
</md-card>
<div #testimonialsList class="flexbox-item-grow fill-area fill-area-content testimonials" (scroll)="scroll()">
  <md-list>
    <div *ngFor="let testimonial of testimonials" class="testimonial-row">
      <md-list-item>
        <img [routerLink]="['/profile', testimonial.user._id]" md-list-avatar avatar [hash]="testimonial.user.gravatarHash" [size]="40">
        <h3 md-line>
          <b>{{ testimonial.user.name }}</b>
          <span class="fill"></span>
          <span class="chat-time">{{ testimonial.date }}</span>
        </h3>
        <p md-line>
          <span class="chat-text" [innerHTML]="testimonial.text|emoji|linky:{twitter:false}"></span>
        </p>
      </md-list-item>
      <md-divider class="testimonial-divider"></md-divider>
    </div>
  </md-list>
</div>
