/deep/ .mat-tab-header
  margin-bottom: 20px

:host
  width: 100%
  text-align: center

.worldmap
  width: 100%
  max-width: 800px
  display: inline-block


table
  margin-bottom: 15px
  margin-top: 20px

tr:first-child
  text-align: right

tr:last-child
  text-align: left
