.help-card {
	line-height: 1.5;
}

h3 {
	font-weight: normal;
	font-size: 1.3em;
	letter-spacing: 2px;
	cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}

.content h4 {
	padding-left: 20px;
	margin-bottom: 10px;
}

.content ul {
	margin: 0 0 20px 0;
}

.github-link-rep a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: slateblue;
}

.info-questions-only {
	color: indianred;
	font-weight: bold;
}

.emoji-select {
	fill: currentcolor;
	vertical-align: middle;
	display: inline-block;
	line-height: 1;
	color: darkblue;
}
