<mat-toolbar color="primary" class="tabs">
  <a
    mat-button
    (click)="navigate('meditation')"
    (tap)="navigate('meditation')"
    [class.highlight]="currentTab === 'meditation'"
  >
    MEDITATION
  </a>
  <a
    mat-button
    [class.highlight]="currentTab === 'chat'"
    (click)="navigate('chat')"
    (tap)="navigate('chat')"
  >
    CHAT
    <span
      *ngIf="!isMeditating && newMessages > 0 && currentTab !== 'chat'"
      class="tab-indicator"
    >
      ({{newMessages}})
    </span>
  </a>
  <a
    mat-button
    [class.highlight]="currentTab === 'ask'"
    (click)="navigate('ask')"
    (tap)="navigate('ask')"
  >
    ASK
    <span
      *ngIf="!isMeditating && newQuestions > 0"
      class="tab-indicator"
    >
      ({{newQuestions}})
    </span>
  </a>
</mat-toolbar>

<meditation
  class="flexbox-parent"
  [class.hidden]="!isCurrentTab('meditation')"
  *ngIf="activated.indexOf('meditation') > -1"
  (loadingFinished)="afterLoadedComponent()"
></meditation>

<message
  [class.hidden]="!isCurrentTab('chat') || isMeditating"
  class="flexbox-parent"
  *ngIf="activated.indexOf('chat') > -1"
  (loadingFinished)="afterLoadedComponent()"
></message>

<question
  class="flexbox-parent"
  [class.hidden]="!isCurrentTab('ask') || isMeditating"
  *ngIf="activated.indexOf('ask') > -1"
  (loadingFinished)="afterLoadedComponent()"
></question>

<div *ngIf="isMeditating && !isCurrentTab('meditation')" class="disabled-message">
  <h3>This page is disabled during meditation.</h3>
</div>
