<md-toolbar color="primary" class="tabs" *ngIf="!noTabs">
  <button
    md-button
    [class.highlight]="currentTab === 'meditation'"
    [routerLink]="['/home', { tab: 'meditation' }]"
  >
    MEDITATION
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'chat'"
    [routerLink]="['/home', { tab: 'chat' }]"
  >
    CHAT
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'ask'"
    [routerLink]="['/home', { tab: 'ask' }]"
  >
    ASK
  </button>
</md-toolbar>

<md-card-title class="padding component-separator" *ngIf="noTabs">
  Meditations
</md-card-title>
<meditation
  [class.hidden]="!noTabs && !isCurrentTab('meditation')"
  *ngIf="noTabs || activated.indexOf('meditation') > -1"
  [class.flexbox-parent]="!noTabs"
></meditation>

<md-card-title class="padding component-separator" *ngIf="noTabs">
  Chat
</md-card-title>
<message
  [class.hidden]="!noTabs && !isCurrentTab('chat')"
  *ngIf="noTabs || activated.indexOf('chat') > -1"
  [class.flexbox-parent]="!noTabs"
></message>

<md-card-title class="padding component-separator" *ngIf="noTabs">
  Ask
</md-card-title>
<question
  [class.hidden]="!noTabs && !isCurrentTab('ask')"
  *ngIf="noTabs || activated.indexOf('ask') > -1"
  class="flexbox-parent"
></question>