<md-toolbar color="primary" class="tabs">
  <button
    md-button
    [class.highlight]="currentTab === 'meditation'"
    [routerLink]="['/home', { tab: 'meditation' }]"
  >
    MEDITATION
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'chat'"
    [routerLink]="['/home', { tab: 'chat' }]"
  >
    CHAT
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'ask'"
    [routerLink]="['/home', { tab: 'ask' }]"
  >
    ASK
  </button>
</md-toolbar>

<meditation
  class="flexbox-parent"
  [class.hidden]="!isCurrentTab('meditation')"
  *ngIf="activated.indexOf('meditation') > -1"
  (swipeRight)="appState.set('openSidenav', true)"
  (swipeLeft)="router.navigate(['/home', { tab: 'chat' }])"
></meditation>

<message
  [class.hidden]="!isCurrentTab('chat') || ownSession"
  class="flexbox-parent"
  *ngIf="activated.indexOf('chat') > -1"
  (swipeRight)="router.navigate(['/home', { tab: 'meditation' }])"
  (swipeLeft)="router.navigate(['/home', { tab: 'ask' }])"
></message>

<question
  [class.hidden]="!isCurrentTab('ask') || ownSession"
  *ngIf="activated.indexOf('ask') > -1"
  class="flexbox-parent"
  (swipeRight)="router.navigate(['/home', { tab: 'chat' }])"
></question>

<div *ngIf="ownSession && !isCurrentTab('meditation')" class="disabled-message">
  <h3>This page is disabled during meditation.</h3>
</div>
