meditation.hidden, question.hidden, message.hidden
  display: none !important

.tabs .highlight /deep/ .mat-button-focus-overlay
  opacity: 1

.component-separator
  margin-top: 10px

@media screen and (max-width: 359px)
  .tabs [md-button]
    font-size: 10px

@media screen and (min-width: 360px)
  .tabs [md-button]
    font-size: 13px

@media screen and (min-width: 380px)
  .tabs [md-button]
    font-size: 14px

.disabled-message
  text-align: center
  padding-top: 15px

.tab-indicator
  vertical-align: top
