<md-toolbar color="primary" class="tabs" *ngIf="!noTabs">
  <button
    md-button
    [class.highlight]="currentTab === 'meditation'"
    [routerLink]="['/home', { tab: 'meditation' }]"
  >
    MEDITATION
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'chat'"
    [routerLink]="['/home', { tab: 'chat' }]"
  >
    CHAT
  </button>
  <button
    md-button
    [class.highlight]="currentTab === 'commit'"
    [routerLink]="['/home', { tab: 'commit' }]"
  >
    COMMIT
  </button>
</md-toolbar>

<md-card-title class="padding component-separator" *ngIf="noTabs">
  Meditations
</md-card-title>
<meditation
  [class.hidden]="!noTabs && !isCurrentTab('meditation')"
  *ngIf="noTabs || activated.indexOf('meditation') > -1"
  [class.flexbox-parent]="!noTabs"
></meditation>

<md-card-title class="padding component-separator" *ngIf="noTabs">
  Chat
</md-card-title>
<message
  [class.hidden]="!noTabs && !isCurrentTab('chat')"
  *ngIf="noTabs || activated.indexOf('chat') > -1"
  [class.flexbox-parent]="!noTabs"
></message>

<commitment
  [class.hidden]="noTabs || !isCurrentTab('commit')"
  *ngIf="!noTabs && activated.indexOf('commit') > -1"
  class="flexbox-parent"
></commitment>