:host, .mat-tab-group, mat-tab-group /deep/ .mat-tab-body-wrapper
  height: 100%

.meeting-interface
  height: 100%
  display: flex
  background: #B2DFDB

  mat-card
    margin: 50px

meeting-textchat
  background: #fff
  width: 400px

.no-meeting
  text-align: center
  margin-top: 50px

.meeting-info
  mat-card-content
    text-align: center

.error
  text-align: center
  color: red
  margin-bottom: 15px

.videochat-active
  color: green
  font-weight: bold

/**
 * Mobile Style
 */
@media screen and (max-width: 850px)
  .meeting-interface
    -webkit-flex-direction: column
    flex-direction: column

    mat-card
      margin: 0

  meeting-textchat
    max-height: 50%
    width: 100%
