<md-card>
  <md-card-title>Live Stream</md-card-title>

  <p *ngIf="!liveStream?.audioOnline && !liveStream?.youtubeOnline">
    Live stream currently offline. <br>
    Next broadcast is <b>Daily Dhamma</b> at <b>0100h UTC</b> ({{ distance }} from now).
  </p>

  <p *ngIf="liveStream?.audioOnline">
    Audio live stream currently online. Click here for live audio dhamma:

    <br>

    <audio controls>
      <source src="{{ liveStream.audioUrl }}" type="audio/mpeg">
      Your browser does not support HTML5 audio.
    </audio>
  </p>

  <p *ngIf="liveStream?.youtubeOnline">
    Video live stream currently online. Click here for live video dhamma:

    <br>

    <a
      md-raised-button
      class="youtube-btn"
      href="https://youtu.be/{{ liveStream.youtubeId }}"
      color="primary"
      target="_blank"
    >
      <md-icon>videocam</md-icon> YouTube
    </a>
  </p>

  <a md-raised-button href="https://share.sirimangalo.org/broadcast/" target="_BLANK">
    Visit archive
  </a>
</md-card>