<mat-card>
  <mat-card-title>Live Stream</mat-card-title>

  <p *ngIf="!liveStream?.audioOnline && !liveStream?.youtubeOnline">
    Live stream currently offline. <br>
  </p>

  <mat-spinner *ngIf="loadingSettings"></mat-spinner>
  <p *ngIf="!loadingSettings && settings && settings.livestreamInfo" class="infobox">
    {{ settings.livestreamInfo }}
  </p>

  <p *ngIf="liveStream?.audioOnline">
    Audio live stream currently online. Click here for live audio dhamma:

    <br>

    <audio controls>
      <source src="{{ liveStream.audioUrl }}" type="audio/mpeg">
      Your browser does not support HTML5 audio.
    </audio>
  </p>

  <p *ngIf="liveStream?.youtubeOnline">
    Video live stream currently online. Click here for live video dhamma:

    <br>

    <a
      mat-raised-button
      class="youtube-btn"
      href="https://youtu.be/{{ liveStream.youtubeId }}"
      color="primary"
      target="_blank"
    >
      <mat-icon>videocam</mat-icon> YouTube
    </a>
  </p>

  <a mat-raised-button href="https://share.sirimangalo.org/broadcast/" target="_BLANK">
    Visit archive
  </a>
</mat-card>
